[2012-04-15 02:46] LavaToaster opened #1 "Fix Typos/Grammar Errors"
Fix some of the typos, especially for the front-end (e.g. 'steam' -> 'Steam'; 'though' -> 'through'; 'Login' -> 'Log in'; 'a steam account, to link it' -> 'a Steam account. To link it', etc.).

Taken from Con's post on the forum

[2012-04-15 02:48] LavaToaster opened #2 "Increased consistency"
- Move the UCP button to just below the 'Manage Facebook' and 'Manage Twitter' buttons, instead of the very bottom of the list.
- Change the label of the UCP button to 'Manage Steam' (it's more consistent, and would be a better label if more options are added in the future).
- Keep the log in buttons more consistent with IPS, so, for example, use 'Use Steam' text instead of the Steam image button

[2012-04-15 02:50] LavaToaster opened #3 "Uninstalling hook doesn't remove steamid column after upgrade"
The upgrade hook doesn't include the uninstall for steamid whereas the new install does.

[2012-04-15 20:01] LavaToaster opened #4 "No error notice when steam account is already linked to another account"
No error notice when steam account is already linked to another account

[2012-04-15 21:46] #1 closed, assigned to LavaToaster

[2012-04-15 21:46] #2 closed, assigned to LavaToaster

[2012-04-15 21:46] #3 closed, assigned to LavaToaster

[2012-04-15 21:46] #4 closed, assigned to LavaToaster

[2012-04-16 07:37] LavaToaster opened #5 "Login button not shown on registration page"
On the registration page it gives you the chance to choose facebook/twitter/live over registering an account the steam button should show there aswell

[2012-04-24 03:19] LavaToaster opened #6 "Language issues"
There seems to be some sort language issues when loading languages, causing text to not be displayed.

[2012-04-25 22:42] #6 closed, assigned to nobody

[2012-05-09 17:25] #5 closed, assigned to nobody

[2012-08-04 10:51] LavaToaster opened #10 "Users are only temporarily logged in"
Normal login works fine apparently.

[2012-08-12 16:21] #10 closed, assigned to nobody

[2013-12-30 19:19] ParmerA opened #11 "Incorrect username/password"
Whenever someone links their account, they receive an error that says "Incorrect Username/Password", I can no longer login to my ACP due to this.

[2014-04-27 11:39] X9DESIGN opened #13 "Driver Error"
After click on sign in Steam button at forum and next choose "Sign in" button on steam page the Driver Error page are show

" There appears to be an error with the database.

If you are seeing this page, it means there was a problem communicating with our database. Sometimes this error is temporary and will go away when you refresh the page. Sometimes the error will need to be fixed by an administ

[2014-04-27 11:43] X9DESIGN opened #14 "Driver Error"
After click on sign in Steam button at forum and next choose "Sign in" button on steam page the Driver Error page are show

" There appears to be an error with the database.

If you are seeing this page, it means there was a problem communicating with our database. Sometimes this error is temporary and will go away when you refresh the page. Sometimes the error will need to be fixed by an administ

[2014-04-27 11:44] #13 closed, assigned to nobody

[2014-07-17 20:41] benblank opened #15 "openid.realm not generated correctly when $_SERVER["HTTPS"] is wrong"
I'm helping troubleshoot [a forum which uses this plugin](https://theuniversim.com/forums/).  For reasons unknown, the server is not correctly setting `$_SERVER["HTTPS"]` on scripts accessed via HTTPS, which causes the plugin to produce invalid OpenID requests.

Specifically, the `openid.return_to` and `openid.realm` parameters don't match:

[code]

In `SteamSignIn::genUrl`, you're allowing `retur

[2014-10-23 20:08] #14 closed, assigned to LavaToaster

[2014-10-23 22:05] #15 closed, assigned to LavaToaster

[2014-10-23 22:32] #11 closed, assigned to LavaToaster

[2014-10-28 18:45] mjmjelde opened #16 "Error on profile pages"
Everytime I try to go to manage my steam account, I get this error:

Error: Could not load template 'manageSteam' from group 'ucp'

Followed your instructions and still get this error.

[2014-10-28 20:47] #16 closed, assigned to LavaToaster

[2014-11-02 13:59] mkassjanski opened #17 "members control panel"
Hi,
I have a issue with members control panel. Not everyone are able to see "Manage Steam". How to chagne permissions to allow everyone to see "Manage Steam" in members control panel.

Regards

[2014-11-03 12:50] #17 closed, assigned to LavaToaster

[2014-12-08 23:50] Fopje opened #19 "Using https and creating an account"
When I have https logins enabled for my forum I get the same issue as reported in #15
Is there already a fix for this

and after disabling the https and someone creates an account it seems it can't handle the custom forms. I have a forum for steamid and skypename, which arent required, it keeps showing up after trying to create a new account. after removing them from showing on the registration fo

[2015-03-15 07:33] yusuf-a opened #20 "Login with steam just hangs"
when a user clicks "sign on with steam", it shows "waiting for http://mydomain.com" at the bottom, and that something is loading, but nothing ends up happening.

[2015-03-18 06:12] wattz1979 commented on #20
Same issue here installed it with 3.4.7 ipb and followed instructions and just hangs on sign in

[2015-04-25 00:05] Lavoaster commented on #20
Sorry for the long response time.

I have two questions for you two answer

* Is this still an issue?
* Has it always hanged?

[2015-04-25 00:07] Lavoaster commented on #19
Is this still occurring? If so, could you provide a link to your community. If you wish that to be private you can email me at adam@lavoaster.co.uk.

[2015-05-26 21:00] Lavoaster commented on #20
As there hasn't been any response on this in a month, I'll be closing this issue.

[2015-05-26 21:00] #20 closed

[2015-05-26 21:00] Lavoaster commented on #19
As there has been no response in this issue for a month, I'll be closing this issue.

[2015-05-26 21:00] #19 closed

[2015-06-03 21:51] jonathanbloom opened #21 "Can't upgrade to 4.0.7 with Steam"
I get the following error when trying to update to 4.0.7 with Steam. IPS told me to contact you.

NO_TEMPLATE_FILE - /home/DOMAIN/public_html/admin/upgrade/html/plugins/steam.phtml

[2015-06-03 22:02] Lavoaster commented on #21
If you disable the ability to login to the ACP from steam then you will be able to upgrade.

I've got a fix in the pipeline :)

[2015-06-04 01:36] jonathanbloom commented on #21
Thanks, that worked! :)

[2015-06-11 14:25] AutoJukebox opened #22 "Redirect Doesn't Work When Signing In"
So when ever a user on my forums trys to login to takes them to steam login and they login and it doesn't log them in... It just takes them back to the steam page.

I'm running IPB 3.4.7
Windows Server with IIS Webserver
I'm using Steam Login Method 1.1.2

Thanks

~Autojukebox

[2015-06-15 23:05] JMV1234 opened #23 "login_handler_steam rejected the details provided. Please check the details you provided have been entered correctly and try again."
I get this error message every time I try to enter my steam API key, I've tried to revoke it and get a new one and the error comes up again

[2015-06-17 12:27] Lavoaster commented on #23
Do you have curl enabled?

[2015-06-17 12:49] JMV1234 commented on #23
No, do I need it?

[2015-06-17 12:50] JMV1234 commented on #23
I correct myself, I re-checked and its enabled.

[2015-06-18 15:27] madman32395 commented on #22
If I remember correctly this is an issue with IIS; I cant remember what I did to fix it, but I ended up switching to apache and majority of all my headaches went away.

[2015-06-18 15:30] madman32395 commented on #23
What server is this running on? Any firewalls blocking communication?

[2015-06-18 15:49] AutoJukebox commented on #22
Hopefully it's not a issue with IIS, I haven't had problems with IIS till this.

[2015-06-18 17:40] JMV1234 commented on #23
No firewalls, it's hosted by x10hosting.com. I've confirmed with them that
curl is working.

On Thu, Jun 18, 2015 at 4:30 PM, madman32395 <notifications@github.com>
wrote:

[2015-06-19 09:35] Lavoaster commented on #23
Are you on their shared hosting platform?

[2015-06-19 11:27] JMV1234 commented on #23
Yes. Does this plugin require anything in particular from the server?

[2015-06-24 02:24] xianthe commented on #21
I did this and with 4.0.7, (disable in ACP and re-enable) and when i reable I still have the  NO_TEMPLATE_FILE error. Any clues?

[2015-06-24 03:02] madman32395 commented on #21
Because the fix is currently not released. This is an issue with the
plugin. Nothing that ipb upgrade will fix. Just disable it when you upgrade
until lavo fixes it.

[2015-06-24 13:49] Hazz14 opened #24 "Settings not showing in AdminCP"
I've tried installing the Steam Login plugin for IPB4, but the plugin doesn't appear under Login Handlers in the Admin CP. I've uploaded the files and installed it with the .xml file, but no luck unfortunately.

Any ideas?

[2015-06-24 21:23] xianthe commented on #21
Thanks I am new to IP.Board v4 and was unclear if this work around actually allowed you to proceed or just let you upgrade. I am actually trying to just research login handlers and IP Connect in any way possible right now so any help is appreciated. Documentation on v4 is very slim for someone who hasnt used IPB in years.

[2015-06-24 21:47] madman32395 commented on #24
Sounds like you have installed it so far correctly. Have you looked under System>Settings>Login Handlers   ... Steam should be under there, with the pencil logo.

[2015-06-24 21:54] Hazz14 commented on #24
Nope, doesn't appear in the Login Handlers section.

[2015-06-24 21:55] madman32395 commented on #24
hmm interesting. I am hoping to be back on my home computer in about 20ish minutes. Would you mind if I took a peak?

[2015-06-24 22:07] Hazz14 commented on #24
What will you need? I won't be able to give access until later.

[2015-06-24 22:24] madman32395 commented on #24
hit me up on steam when youre ready. http://steamcommunity.com/id/madman32395
Probably be looking at ACP access and FTP; and your steam API key. (don't post your keys or credentials here; do privately)

[2015-06-25 00:42] madman32395 commented on #22
What website is this at? Are you able to contact me on steam? www.steamcommunity.com/id/madman32395

[2015-06-26 01:47] madman32395 commented on #24
Saw that the server did not create a login handler which caused the issue of not showing a settings menu for steam. The server also did not generate a new collumn for steamids. Manually ran queries to resolve this issue. Would recommend following the recommended section of the system check from ACP>System>Support>Support>System Check (button located on top of page; recommended fixes on the bottom

[2015-06-26 01:47] #24 closed

[2015-06-26 02:40] madman32395 commented on #23
hmm. Possible for me to take a peek at the setup? Can you contact me on steam? www.steamcommunity.com/id/madman32395

[2015-06-26 14:47] madman32395 commented on #22
@AutoJukebox What version of the steam login plugin are you using with 3.4.7?

[2015-06-26 15:16] AutoJukebox commented on #22
1.1.2 i believe

[2015-06-26 15:21] AutoJukebox commented on #22
http://www.astralgaming.info/forums/ is my website

[2015-06-27 03:25] madman32395 commented on #23
The weird part is that I have my Curl turned off/commented out and my login still works fine.

[2015-06-27 17:22] Hazz14 commented on #24
All sorted - thanks for the help :+1:

[2015-06-29 03:56] madman32395 commented on #22
Found that IIS does not cooperate friendly. Had @AutoJukebox switch to apache and besides having the plugin work, found that the website was responding much smoother on Apache rather than IIS.

[2015-06-29 03:56] #22 closed

[2015-06-29 04:06] madman32395 commented on #23
@JMV1234 what web server are you running this on?

[2015-06-29 11:05] JMV1234 commented on #23
I changed webhost and it worked like a charm. Thanks for all the help guys! Still have no idea what was wrong.

[2015-06-29 13:03] madman32395 commented on #23
@JMV1234 random question but was it on IIS?

[2015-06-29 13:16] JMV1234 commented on #23
Not sure what IIS is, the webhost was x10hosting

[2015-06-29 13:25] madman32395 commented on #23
ah no problem. I am glad its working for you.

I've noticed that even IPS says they have issues with free hosts as well. A lot of the times they inject html ads and other stuff onto the site, and don't do it properly so stuff looks/acts all crazy.

I did look around at x10hosting and they are on Lightspeed (apache drop in), with gzip and a bunch others running. So I'm sure something they were runn

[2015-06-29 13:25] #23 closed

[2015-06-29 16:55] madman32395 opened #25 "IIS issues with plugin"
There are different issues arising; ranging from issues like #23 and #22 ; This is an issue with IIS somewhere, but the current work around is trying to switch to Apache or another web server.

See current workaround and free hosting disclaimer in the readme 39e55a594a816d44b149779bfd4e4ef60723a438

[2015-06-30 21:18] OMGLent opened #26 "IPB Steam login issue."
So I'm having an issue with getting it to work properly. It shows up completely fine however after the login through steam page it simply redirects you back to the homepage. This is the exact link >

https://perspectiverp.com/forums/steam.php?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=error&openid.error=realm+and+return_to+do+not+match

I'm currently using IPB 3.4.8

[2015-06-30 21:22] madman32395 commented on #26
@OMGLent
What host do you use?
What WebServer are you running?
I do notice you use CloudFlare (firewalling), do you continue to have this issue if you temporary disable the firewall?

[2015-06-30 21:25] madman32395 commented on #26
also, misleading verification screen.. lol appears like a ban. https://drive.google.com/file/d/0B0mBb9QuGv84QnVzQmxyMHJsdzQ/edit?usp=drivesdk

[2015-06-30 21:29] OMGLent commented on #26
I use Xenon Servers running Apache Version 2.2.29 and the issue is still a problem when I have disabled my cloud-flare firewall.

[2015-06-30 21:30] OMGLent commented on #26
@madman32395 you will need to verify your account before you can access the members list.

[2015-06-30 21:34] OMGLent commented on #26
@madman32395 nvm It appears you have been banned that's strange...

[2015-06-30 21:35] madman32395 commented on #26
Which version of the plugin are you using? also It wont even let me view the forums main page, have not received an validation email.

[2015-06-30 21:36] OMGLent commented on #26
I'm using version 1.1.1 or the latest version as I uninstalled and tested it last night. It said you were banned because you were spammer or something. Anyway you're currently unbanned.

[2015-06-30 21:38] madman32395 commented on #26
hmm. guess it doesnt like my work internet xD...

Has the steam plugin ever worked?

[2015-06-30 21:42] OMGLent commented on #26
Yes it worked awhile back and I'm not sure what may have caused it to do this . One thing I have noticed is that my email wrapper is no longer working anymore as well. So I presume it might be a corrupted fire somewhere. I already manually reinstalled IP.B 3.4.8 to make sure the core files were not harmed or broken.

[2015-06-30 21:44] madman32395 commented on #26
okay, reason I ask, if its uninstalled; most installations end up nuking the steamid column in their member table (requiring everyone to relink steam; unless backup of that table was done and restored)

Would you be available on steam? I would like to take a deeper look. Something just doesn't seem right.

[2015-06-30 21:47] OMGLent commented on #26
Here is my steam if that's what your asking for.
http://steamcommunity.com/id/TracedPentic/

[2015-07-01 04:40] madman32395 commented on #26
Ended up upgrading from 348 to 4091; installed 4.x steam login, everything working. Did some security best practises.

[2015-07-01 04:40] #26 closed

[2015-07-05 09:30] mnewton91 commented on #24
I've got this problem also - Are you able to assist me? or post the edits you made on the missing table entries?

[2015-07-05 10:12] Hazz14 commented on #24
The reason it wasn't creating the tables was because the versions of PHP/MYSQL were old. I'm not sure what edits madman made manually though.

[2015-07-05 17:42] madman32395 commented on #24
@mnewton91 you able to hit me up on steam so I could take a peak?

[2015-07-06 01:06] mnewton91 commented on #24
I've added you @madman32395

[2015-07-09 20:44] sahaka opened #27 "Plugin installs but Login Handler doesn't show up"
I have just purchased IPS and got it working. Then I went to install this: https://community.invisionpower.com/files/file/7555-sign-in-through-steam-ipb4/

The plugin installs correctly without errors. But there is no edit option and it does not show up on the Login Handler page. I feel like I must be doing something wrong but I have followed the directions and it still doesn't work. Any help woul

[2015-07-09 20:46] madman32395 commented on #27
Hit me up on steam and ill take a peak if ya want, http://steamcommunity.com/id/madman32395
Would need ACP, FTP, SteamAPI key; DO NOT post that information here, share privately.

Thanks.

[2015-07-09 20:51] sahaka commented on #27
Ok I will add you on steam keep an eye out for http://steamcommunity.com/id/defriscod

[2015-07-09 21:19] madman32395 commented on #27
Upload was not in correct directories, removed from wrong areas and reuploaded files. Fixed.

[2015-07-09 21:19] #27 closed

[2015-07-15 21:36] aStonedPenguin opened #28 "Rewrite URLs"
Logging in does not seem to work with Rewrite URLs and Force Friendly URLs enabled

[2015-07-15 21:41] Lavoaster commented on #28
Can you double check you've got the right .htaccess file or relevant nginx configuration setup correctly and that your IP Suite is working correctly.

I don't know what would use a rewritable URL in this plugin that wouldn't be controlled by the IPS Suite.

Additionally, what version are you using?

[2015-07-15 23:15] madman32395 commented on #28
Not saying I have a perfect setup, but I have rewrite turned on and my logins work.
https://drive.google.com/file/d/0B0mBb9QuGv84OEdId0VKLVpkRVE/view?usp=drivesdk

When setting up rewrite, did you make sure to download/edit htaccess that is under the toggle switch?

[2015-07-16 02:09] madman32395 commented on #28
Notes: IPB4 ; Nginx

[2015-07-20 09:08] Lavoaster commented on #28
Is this still an issue?

[2015-07-22 03:20] cpaneljesse commented on #21
When do you plan to resolve this issue? It appears to affect every upgrade :(

[2015-07-22 03:29] Lavoaster commented on #21
From what I'm aware of, this is supposed to no longer be an issue onwards from 4.0.8.

[2015-07-25 19:09] cpaneljesse opened #29 "Making this plugin only registration/login option"
Is it possible to disable the default ipb registration and make it so you can only register to our forums with your STEAM login?

[2015-07-26 01:18] Lavoaster commented on #29
AFAIK, This has been done without the need for anything plugin specific.

What IPB version are you using?

[2015-07-26 01:46] cpaneljesse commented on #29
We are using the latest version of IPB4. It has both enabled, however, if we disable new user registration, it also disables the steam one as well.

[2015-07-26 04:33] Lavoaster commented on #29
You should be able to disable the login handler for username and passwords. I think it's called Internal, could be wrong. Basically, all you need to do is ensure that Steam is the only enabled login method.

[2015-07-26 04:35] cpaneljesse commented on #29
It doesn't allow you to disable internal, is the problem.

[2015-08-08 09:54] Zhao-Steven commented on #28
Hey,

I am having the same issue with an Nginx server with the following configuration for write:
[code]

Turning off this and friendly url rewriting and the plugin will work.

[2015-08-08 16:40] aStonedPenguin commented on #28
@Zhao-Steven Turning off "Force Friendly URLs" works as a temporary work around.

[2015-08-09 19:47] aStonedPenguin commented on #29
Best you can do is edit it out of the template.

[2015-08-16 17:20] usedragon opened #30 "Cannot find Steam in Login Handlers"
I installed the Sign in through Steam - IPB4 2.0.0 on a IPS4 4.0.12.1 and no matter how much i tried to look in Login Handlers Steam isn't popping up. Uninstall/Install doesn't pop up.

[2015-08-16 21:00] madman32395 commented on #30
I'll be back in town in about an hour or so. If you want you can add me on
steam and I'll look at this for you.
Http://steamcommunity.com/Id/madman32395

[2015-08-18 16:18] madman32395 commented on #30
@usedragon are you still having an issue?

[2015-08-31 09:44] Nukeproof-Mega opened #31 "IPS4 French Sign In"
Hey there my members are saying that they are being signed into the French site and not the UK version, is this an easy fix?

[2015-08-31 16:46] madman32395 commented on #31
This as far as I know wouldn't be related to the steam plugin for ips. This would most likely be a geolocation issue on steam itself.

personally sometimes I get flagged into Germany even though I'm here in the states.

[2015-08-31 16:57] madman32395 commented on #30
@usedragon No response over 13 days, Closing ticket.

[2015-08-31 16:57] #30 closed

[2015-09-01 23:11] MyBottingVPS opened #32 "Installed Correctly but not shown on login handlers"
I installed all files in upload correctly into the directories they belonged in, in my root folder. I installed the plugin correctly. However, when I go to login handlers, steam is not shown.

[2015-09-02 00:48] madman32395 commented on #32
I am currently out of town but can assist in fixing this for you. I am
expected back in town possibly 845-915pm cst.

[2015-09-02 14:32] madman32395 commented on #32
@MyBottingVPS When is a good time for you to meet up?

[2015-09-02 14:48] Lavoaster commented on #31
Ditto what @madman32395 said. This plugin does no geolocating at all.

[2015-09-02 14:48] #31 closed

[2015-09-07 09:05] BOLVERIN commented on #32
same problem

[2015-09-07 09:26] BOLVERIN commented on #32
up php to 5.4. not helped

[2015-09-07 12:52] deanm1990 commented on #32
same issue , cannot see in login handler :(

[2015-09-07 13:12] BOLVERIN commented on #32
look at  DB
in tables core_login_handlers not found info about Steam like this:
('Steam', 1, '{"steam_apikey":"","use_steam_name":true}', 10, 0)

[2015-09-07 13:17] BOLVERIN commented on #32
also I not found in Theme any files in Login directory

[2015-09-07 15:37] Lavoaster commented on #32
Did you all install the hook?

[2015-09-07 15:53] BOLVERIN commented on #32
hook? I use instruction from README.md
on example.com all ok
on example2.com/forum — have problem

[2015-09-07 15:57] BOLVERIN commented on #32
maybe need some additional info? some hours I'm here

[2015-09-07 16:11] deanm1990 commented on #32
got it working now :)

thankyou

-----Original Message-----
From: Adam Lavin <notifications@github.com>
To: Lavoaster/IP.Board-Steam-Authentication-Method <IP.Board-Steam-Authentication-Method@noreply.github.com>
CC: deanm1990 <deanmartin1990@aol.com>
Sent: Mon, 7 Sep 2015 16:37
Subject: Re: [IP.Board-Steam-Authentication-Method] Installed Correctly but not shown on login handlers (#32)

Did you a

[2015-09-08 16:30] Lavoaster commented on #32
@BOLVERIN Discarding configuration, there are two main things you need to do. Upload all files in the `upload/` directory (Step 1) and import the hook / plugin into IPB (Steps 2 and 3).

[2015-09-08 16:32] BOLVERIN commented on #32
with upload/ or form /upload?

[2015-09-08 16:33] Lavoaster commented on #32
All files _in_ the folder not the upload folder itself.

[2015-09-08 16:35] BOLVERIN commented on #32
I do this. Like I say before: I use this plugin for two forum. first — all ok. second — have a problem

[2015-09-08 16:40] Lavoaster commented on #32
When on your production installation, do you have the sign in through steam plugin installed?

Can you screenshot it?

[2015-09-08 16:45] BOLVERIN commented on #32
https://yadi.sk/i/AJizKkReix4iX plugin page
https://yadi.sk/i/p2R2a5R6ix4k3 login handlers page

[2015-09-08 18:55] Lavoaster commented on #32
Is this a new install of the plugin or are you upgrading your forum from 3.4?

[2015-09-08 20:31] BOLVERIN commented on #32
new install

[2015-09-08 21:15] Lavoaster commented on #32
Can you remove the steam plugin and then reinstall it?

[2015-09-08 21:16] BOLVERIN commented on #32
reinstall, reupload, deleting and then upload + install. I'm alredy try it

[2015-09-09 12:15] Lavoaster commented on #21
Is anyone aware of if this is still occurring in later versions of the IP Suite?

[2015-09-09 12:17] Lavoaster commented on #28
Due to the fact this is not a plugin issue, I will be closing off this issue.

[2015-09-09 12:17] #28 closed

[2015-09-11 13:09] Varshney commented on #32
I'm also having the same issue. When I installed the plugin for the work forums it was flawless and just worked straight off, but when I upgraded my forums to IPS4 then installed this plugin and set it to enabled, it just doesn't show up under the login handlers, the exact same images as Bolverin.

I can't understand why this would work on one and not the other. Very strange indeedy.

[2015-09-13 03:13] msanders-lg commented on #32
I can confirm that I am also having this is issue, running a fresh install of 4.0.9.2

[2015-09-13 03:52] cpaneljesse commented on #23
I am getting this error all of a sudden on my installation even though it's been working for a few months. Nothing has been changed on our server that I can think of that would affect this.

Running LSPHP with:

Server version: Apache/2.4.16 (Unix)
PHP 5.4.45 (cli) (built: Sep 12 2015 22:15:19)

[2015-09-13 06:26] madman32395 commented on #32
@msanders-lg please upgrade to the latest 4.0.13.1 and see if the issue continues with a reupload of the add-on as well.

[2015-09-13 11:09] Varshney commented on #32
I have already been running 4.0.13.1 so it's definitely not the version number.

[2015-09-13 17:02] cpaneljesse opened #33 "login_handler_steam rejected the details provided. Please check the details you provided have been entered correctly and try again."
I am getting this error all of a sudden on my installation even though it's been working for a few months. Nothing has been changed on our server that I can think of that would affect this.

Running LSPHP with:

Server version: Apache/2.4.16 (Unix)
PHP 5.4.45 (cli) (built: Sep 12 2015 22:15:19)

[2015-09-18 13:07] critfest opened #34 "[Suggestion] Display Steam Profile"
After a user associates their IPB account with their steam account, it would be absolutely awesome if this plug-in inserted a simple link to the IPB profile, which would point to their SteamCommunity profile!  Thank you in advance for your consideration!  Love the plugin though by the way!  ;)

[2015-09-18 13:10] critfest commented on #34
Or even a steam offline/online badge type thing where it could tell people in the forums where a user was on or offline for steam and possibly what game they are currently playing.  I know something like this was done for version 3.x of IPB but I am not sure if it's possible to do with this or maybe as a separate plugin.  Thanks again for your consideration.

[2015-09-19 19:20] madman32395 commented on #33
interesting. When is a good time to meet up to look into this?

[2015-09-29 17:28] BOLVERIN commented on #32
update to 4.0.13.1 helped me

[2015-10-03 20:44] Varshney commented on #32
I've tried uninstalling and reinstalling and still it doesn't work. I then have tried a fresh test installation of 4.0.13.1 and even after uploading the files and installing the XML it doesn't show up in the login handlers yet it says that the plugin is installed.

Is there a way to manually add the options to the login handler screen?

[2015-10-04 06:48] madman32395 commented on #21
I personally have not have had this issue since the last few updates from IPS. I think it is safe to close and if issues reoccur, can reopen.

[2015-10-04 06:48] #21 closed

[2015-10-04 06:49] madman32395 commented on #32
@Varshney yes

[2015-10-05 06:50] JesperGrip commented on #32
Hey im currently having the same problem with my plugin i'm running the latest version of IPS and it doesn't appear in login handlers

[2015-10-05 08:26] Varshney commented on #32
@madman32395 - Is it possible you can run us through how we can manually do this please. That way if anyone else has the same issues then they'll know what to do in the future too.

[2015-10-18 18:52] madman32395 commented on #33
Closing as no response was given in over 30 days

[2015-10-18 18:52] #33 closed

[2015-10-18 19:26] madman32395 commented on #32
@Varshney  Sorry for the delay, make sure to backup the database or the table affected, and check with core_login_handlers and see what is your highest login_order then +1 ; don't forget to edit the query for match for prefix (if applicable), and to edit the value for login_order. If needed too, I can assist in getting this working for you as well. (can be done solely through the Admin ControlPann

[2015-10-19 09:48] boLekc opened #35 "Something went wrong. Please try again"
uploaded files, installed plugin, activated plugin / login handler  and added the api key but everytime when i try to login i get

Something went wrong. Please try again.

[2015-10-19 09:50] madman32395 commented on #35
I just shut down for the night. But can take a look for you when I wake.

[2015-10-19 10:49] boLekc commented on #35
have reinstalled the github version and get now this error

An error occurred while processing your request.

[2015-10-19 17:45] madman32395 commented on #35
@boLekc Im alive! lol ; you available?

[2015-10-19 17:47] boLekc commented on #35
sure ^^

[2015-10-19 17:53] madman32395 commented on #35
http://steamcommunity.com/id/madman32395/

[2015-10-20 00:48] madman32395 commented on #35
Could not diagnose; was unable to get proper credentials to find issue.

[2015-10-21 05:34] madman32395 commented on #35
@Lavoaster ; This is on a linux install with apache, php 5.6.14

I uninstalled the plugin that he had, and reinstalled a working version that I had locally. Both him and I had same results. When attempting to enter steam api key into settings, we get "login_handler_steam rejected the details provided. Please check the details you provided have been entered correctly and try again."

But when editi

[2015-10-21 07:35] Lavoaster commented on #35
Is curl enabled?

On Wed, 21 Oct 2015 06:34 Justin Barth <notifications@github.com> wrote:

[2015-10-21 07:36] madman32395 commented on #35
He's working on getting that going. His test site worked fine out the gate.
But live i dont think has what test did.

Forgot to write that before my ISP kicked me off for maint.

[2015-10-23 02:00] aStonedPenguin opened #36 "Cache Avatars"
Would it be possible to add an option to cache avatars? Steam is stupid slow sometimes.

[2015-10-23 13:09] marcelotk15 opened #37 "Steam API Key"
Hi,
I read others same issues, but any help me.

My system:
Ubuntu: Ubuntu 14.04.3;
Apache: Apache/2.4.7;
PHP: PHP 5.6.14-1+deb.sury.org~trusty+1 (cli);
cURL: Enabled;
IPS: 4.0.13.1 (100045);
and i use CloudFire.

My error is: login_handler_steam rejected the details provided. Please check the details you provided have been entered correctly and try again.

[2015-10-23 19:24] madman32395 commented on #37
@marcelotk15 available? http://steamcommunity.com/id/madman32395

[2015-10-23 23:44] madman32395 commented on #37
@Lavoaster Ran the IPB4 System Check, user meets requirements 100%, cURL is enabled and meets/exceeds required for IPS as well.  ; user also uses CloudFlare, had him enter steamAPI ip addresses into outbound firewall from valve as troubleshoot. No Change.

[2015-10-24 01:30] marcelotk15 commented on #37
Really i don't know what is wrong. I put manually infos in database (steam API and steamid). Nothing... don't sync, won't login.
Thanks for support in steam @madman32395!

[2015-10-24 01:46] madman32395 commented on #37
once a fix is found for this one might be possible fix for #35

[2015-10-24 03:44] madman32395 commented on #35
certain plugins are out of date: cURL running less than version 7.36  (currently on 7.21.0) ;; MySQL currently on 5.5.45-37.4-log , IPS recommends 5.6.0 or higher ;;PHP setting for suhosin.max_vars is unable to be read by system check, but is currently set to 6144 for all suhosin.*.max_vars

He did have a test site that worked, but is unable to continue with that host, and unable to talk to curren

[2015-10-25 09:32] madman32395 commented on #36
0ffac63bd81d1bfd9c80d23a8d3695c62133ee95 Added in Cache to datastore, and db auto points to it instead of valve's CDN

Just reupload, applications\core\sources\profilesync\steam.php

[2015-10-25 09:32] #36 closed

[2015-10-25 14:01] marcelotk15 commented on #37
Now is working.
I formated my VPS and install packages (php. apache and etc) with Zpanel scrip https://github.com/zpanel/installers

[2015-10-25 18:41] #37 closed

[2015-10-28 08:28] madman32395 commented on #35
Got user setup on host that fits IPS requirements, and installed and verified IPS 4.1.0 and Steam Plugin (2.0.0); @boLekc is now up and running, he will take care of data transfer from old host to new host.

--Issue related to whatever host he was using; moved to GoDaddy (met requirements and was able to communicate back to valve for steam login) and is working.

[2015-10-28 08:28] #35 closed

[2015-11-04 19:41] assault04 opened #38 "500 Error after Steam Login on Redirect"
I set everything up normally and attempted to sync my existing account with my steam account.

Running Apache on CentOS. I can login to Steam and when it redirects, it attempts to go to this URL:

http://www.initial.gg/applications/core/interface/steam/auth.php?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=id_res&openid.op_endpoint=https%3A%2F%2Fsteamcommunity.com%2Fopenid%2Flog

[2015-11-04 20:19] madman32395 commented on #38
hi @assault04 , what IPS version are you currently running? and What version of the login plugin are you using (2.0.0 or the prerelease 2.0.1?)

[2015-11-04 20:25] assault04 commented on #38
Currently running v2.0.0 of the plugin on IPS v4.1.2

On Wed, Nov 4, 2015 at 3:19 PM, Justin Barth <notifications@github.com>
wrote:

[2015-11-04 20:30] madman32395 commented on #38
If you could, can you update to latest ips release? 4.1.3.1

[2015-11-04 20:41] assault04 commented on #38
Updated to the latest release, still the same issue.

On Wed, Nov 4, 2015 at 3:31 PM, Justin Barth <notifications@github.com>
wrote:

[2015-11-04 20:45] madman32395 commented on #38
interesting. Add on steam and I could take a deeper look if you're up for it?

[2015-11-04 20:46] madman32395 commented on #38
http://steamcommunity.com/id/madman32395

[2015-11-12 10:47] madman32395 commented on #38
Permissions were not set correctly for parent/child folder. Needs Read access, recommend (755)
Issue was self-resolved.

[2015-11-12 10:47] #38 closed

[2015-11-20 11:14] #32 closed

[2015-11-26 23:53] ucjohn opened #39 "Redirect Loop Error"
Alot of our members are getting Redirect loop errors when trying to sign up with steam Login handle.

[2015-11-27 00:09] madman32395 commented on #39
What web server are you using? Are you up to date with IPS version? What
3rd party plugins and apps are installed?

[2015-11-27 00:48] ucjohn commented on #39
Yes I'm running the very latest version of IPB.. VizionDev app is the 3rd party Application but it shouldn't conflict with it. I'm stumped I asked some of the IPB devs they said they can't look at it due to it being 3rd party. I disable the steam login handle the issue goes away.. Enable it and it returns...

[2015-11-27 00:51] madman32395 commented on #39
I'm almost done watching Pixels. If you would like I could take a look if
that's okay with you?
Http://steamcommunity.com/id/madman32395

[2015-11-27 04:41] madman32395 commented on #39
Found to be a compatibility issue with https://community.invisionpower.com/files/file/7482-terms-of-service/

I sent Adriano a message asking about it.

[2015-11-29 10:44] madman32395 commented on #39
@ucjohn Was told that all 3rd party login methods are incompatible
https://community.invisionpower.com/topic/410868-terms-of-service/?do=findComment&comment=2600014

[2015-11-29 10:44] #39 closed

[2015-11-30 13:01] MightySCollins opened #40 "No login handler in IPB 4.1"
Hi

I have tried to install on IPB 4.1 and I cannot see the steam login handler in my list.
It seemed to work well on a IPB 4 install.

Am I doing anything wrong? Thanks in advanced

[2015-12-01 03:54] madman32395 commented on #40
@MightySCollins can you check your core_login_handlers table and see if you have steam listed in there?

[2015-12-01 08:46] MightySCollins commented on #40
:( I am sure I did it right... It worked fine in 4.0

Steam is in the `core_login_handlers` table and I have even added the config for it manually but it still does not show up in the Login Handlers page and even if I enable it in MySQL it does not show.

I have also tried it again on a fresh test install with no luck.

[2015-12-01 09:20] Lavoaster commented on #40
Did you upload the files?

[2015-12-02 20:54] madman32395 commented on #40
@MightySCollins What IPS version are you on? and what PHP version, and do you have cURL enabled?

Also like lavo asked, did you upload the files into the correct spot?

[2015-12-03 12:35] MightySCollins commented on #40
Yes I did but you where right it was my fault :(
It seems that I uploaded them as blank files, sorry to waste your time and thanks for the good plugin.

[2015-12-03 12:35] #40 closed

[2015-12-03 16:07] taman1990 opened #41 "members are broke after the new ip board update"
So after i updated my forum to the latest one 4.1.4 some of the members are completely broke
all of their posts topics hided and they are restricted from posting, receiving messages visiting account settings changing profile and everything else its like they are banned but worse i cant even send this members a message because they ant receive messages and the worse part is i cant change edit or do

[2015-12-03 17:58] Lavoaster commented on #41
If you disable the plugin, does everything work?

[2015-12-03 20:32] madman32395 commented on #41
do you also use any third party steam management application/plugins?

[2015-12-04 00:01] taman1990 commented on #41
no i dont use any other steam apps only steam login handler
and i have already tried to disable the plugin and steam login handler to see if it fixes the issue but no hope
the only way to fix this broken members is creating a new account for them and merging with the broken ones :/ i had to do that for a several active members

[2015-12-04 00:02] madman32395 commented on #41
are the members being flagged as spammer or being banned?

[2015-12-04 00:08] taman1990 commented on #41
normal members, no spams no banned
they cant visit their account settings this error shows up when they click account settings
https://www.invisionpower.com/clients/index.php?app=nexus&module=support&section=redirect&url=https%3A%2F%2Fi.gyazo.com%2F1240d313d5d17dd6c7cfecdc118e8331.png&key=4b893f4a240f187be05b6fe66d1d441028cbcc70&resource=1

in ACP when i try to change their group or doing any chan

[2015-12-04 00:13] madman32395 commented on #41
so when you get that EX0, the error you put in OP is what you get?

so with the plugin enabled, you cannot edit any members?

also you are on 4.1.4? You should update to 4.1.4.1 as there is a security patch released on that. also with the release of 4.1.4 it requires php  5.4.0 or greater, and the plugin requires cURL enabled.

[2015-12-04 00:18] taman1990 commented on #41
im already on 4.1.4.1
and i was wrong looks like members at spam, locked, banned, normal members too
i tried a couple of them in each group same issues
at acp when i click save on this groups this error shows up at browser console
An invalid form control with name='core_pfield_12' is not focusable.

[2015-12-04 00:20] taman1990 commented on #41
could it be the members who used steam profile sync ?

[2015-12-04 00:22] madman32395 commented on #41
i doubt it, steam writes to the member table instead of the profile fields area.  IPS is quick to blame other apps.

But is your server config compatible with IPS 4.1.4 and higher?

[2015-12-04 00:23] taman1990 commented on #41
im on php 5.4.43

[2015-12-04 00:26] madman32395 commented on #41
I would recommend making sure your server config matches IPS base requirements. As that can cause crazy things to happen to the core software.

[2015-12-04 00:29] taman1990 commented on #41
no sir its not the server configuration error! its the steam login issue and my website is fine from everything it was also fine before i update the core

[2015-12-04 00:30] taman1990 commented on #41
the core says its completable its not a bit possible to be the serve configuration error

[2015-12-04 00:39] taman1990 commented on #41
what server configuration error exactly ?

[2015-12-04 00:39] madman32395 commented on #41
with the steam enabled, have you trying modifying any user accounts or anything on a default (unmodded) theme?

[2015-12-04 00:43] taman1990 commented on #41
yes i have tried almost everything on my own until i was out of hopes and created a ticket for the SHIT support at ips which took 7 days to answer and telling me that the problem is the steam login plugin

[2015-12-04 00:45] madman32395 commented on #41
hmm. if youre cool with it, I could take a peak? im on steam currently. steamcommunity.com/id/madman32395

[2015-12-04 00:49] taman1990 commented on #41
im at work on another pc and i dont have steam installed here
maybe skype?

[2015-12-04 00:50] madman32395 commented on #41
sure, same username.

[2015-12-04 00:52] taman1990 commented on #41
alright :)

[2015-12-14 11:43] gabrielt opened #42 "Installed ok/API key ok/not working"
Installed ok. Configured API ok. Steam buttons show up on login/registration/account settings. Everything looks good. Except it doesn't work.

When clicking on the black button to link my account to Steam's on the settings page, the Steam login screen shows up, but after accepting we are redirected to our website, and nothing happens.

When tryng to create a new account using the Steam button, it

[2015-12-14 12:11] Lavoaster commented on #42
Is the login handler enabled?

[2015-12-14 12:12] Lavoaster commented on #41
Has anything come of this? Is it still an issue?

[2015-12-14 21:15] gabrielt commented on #42
Of
![cdh-steam1](https://cloud.githubusercontent.com/assets/5942846/11794150/fa1b4170-a303-11e5-8fde-04ef79030e93.png)
![cdh-steam2](https://cloud.githubusercontent.com/assets/5942846/11794152/fa46e00a-a303-11e5-9fb9-bb0317e16812.png)
![cdh-steam3](https://cloud.githubusercontent.com/assets/5942846/11794151/fa43e1a2-a303-11e5-86be-6482cf030f58.png)

 course...

[2015-12-14 21:17] madman32395 commented on #42
@gabrielt I would recommend either censoring your api key or removing that picture. Security and such lol...

got a free moment, I could take a look if you want?
http://steamcommunity.com/id/madman32395

[2015-12-14 21:20] gabrielt commented on #42
@madman32395 got it, thanks.

[2015-12-14 21:52] madman32395 commented on #42
@gabrielt im free currently if you would like another set of eyes looking at it. Hit me up on steam if you want.

[2015-12-14 22:10] taman1990 commented on #41
nope still same i only fixed the members who is active and they login others are completely fucked up

[2015-12-14 22:12] gabrielt commented on #42
@madman32395 try creating an account at forum.clubedohardware.com.br using Steam...

[2015-12-14 22:26] madman32395 commented on #42
yea, i get the 'Something went wrong. Please try again' error.

[2015-12-14 22:28] madman32395 commented on #41
:/ you shouldnt need to create accounts and merge them. sounds like they just have moderation flags on their accounts for some odd reason.

[2015-12-14 23:06] madman32395 commented on #42
@gabrielt that error doesnt tell anyone on the public side what is going on, so I have no clue without seeing the backend.

[2015-12-15 00:01] taman1990 commented on #41
what moderation? if you mean there a fix please tell me there is still hundreds of broken members

[2015-12-15 02:56] madman32395 commented on #41
@taman1990 for your forums, did you upgrade to 4.x from a previous version? such as 3.4.8 to 4.x?

[2015-12-15 03:06] taman1990 commented on #41
yes i did

[2015-12-15 03:07] madman32395 commented on #41
did you repurpose the old banned group?

[2015-12-15 03:07] taman1990 commented on #41
no sorry not from 3.4.8 it was 3.4.7 then i upgraded to 4.x

[2015-12-15 03:08] taman1990 commented on #41
no i didnt do anything i just upgraded to 4.x back then

[2015-12-15 03:09] madman32395 commented on #41
ah, so the default banned group has always been banned group?

[2015-12-15 03:10] taman1990 commented on #41
yes probably and i didnt care since i only have 2 -5 users banned

[2015-12-15 03:19] madman32395 commented on #41
ok, my theory was then incorrect then. was thinking you renamed the group and was using it as something else... but from what I understand, there is nothing in the steam logon handler that controls ban/moderation permissions. So something else happened. Potentially another app outside of this one that messed up your member table.

As for proper installation of the plugin, I could help you verify t

[2015-12-15 03:29] taman1990 commented on #41
no i never renamed my banned group
but with a ticket from ips support they say its steam login problem and they show the error logs as u see in my first post here :/

[2015-12-15 03:34] madman32395 commented on #41
Do you currently still have these errors reoccuring? Because those wouldnt do anything to your members directly, the only thing the login handler does is add a steamid to the member table.

[2015-12-15 03:41] taman1990 commented on #41
mmm i don't know where exactly to check this errors :/

[2015-12-15 03:42] madman32395 commented on #41
I see that earlier you added me on skype. Ill ask for more sensitive information there.

[2015-12-15 03:46] taman1990 commented on #41
alright im at work riht now i cant use skype for now
but one more question
in acp when i try to change their account info and clicking on "Save" this error shows up on browser console
" An invalid form control with name='core_pfield_12' is not focusable.  "
is this core_pfield_12 has anything to do with the steam app?

[2015-12-15 03:47] madman32395 commented on #41
nope.

[2015-12-15 03:51] taman1990 commented on #41
and do you have any idea what core_field stands for?
is it profile fields by any chance?

[2015-12-15 03:52] madman32395 commented on #41
Profile Fields... like where you type in Location, Sex, social contact information (such as skype, icq, etc.)

[2015-12-15 03:59] taman1990 commented on #41
so the problem must be with one of the profile fields what u think?

[2015-12-15 04:12] madman32395 commented on #41
with pfields yes. unrelated to steam login. as the steam login just adds a column directly to the _core_members table.

That would be one of possible many issues. What I would recommend is reuploading the client suite, and running the support tool under System>Support , and check something is wrong and run that all the way through; but do NOT file the support ticket at the end; just go through the

[2015-12-15 04:40] taman1990 commented on #41
i have already re uploaded the suite to refresh the files once only and it didnt help
i dont want to use "something is not working " tool since one time i used it and fucked up my forum with an error says configuration error and blabla went alot to fix im afraid if same shit happens

[2015-12-15 04:42] madman32395 commented on #41
if doing the support tool breaks your forums, there's something deeper than what IPS is trying to tell you.

[2015-12-15 04:44] taman1990 commented on #41
what you mean ?

[2015-12-15 04:47] madman32395 commented on #41
I mean its a whole lot deeper than ips blaming the steam login. the support tool is supposed to find broken stuff, instead its finding errors, but is unable to complete its repair.

if you are able to, I would take a backup, and on a test site perform the update, and then the support tool and see if it breaks again, if the test site breaks. grab the errors and bring it up to IPS.

I've ran the sup

[2015-12-15 04:57] taman1990 commented on #41
will do another day but im sure it wont fix shit xD

[2015-12-15 07:39] gabrielt commented on #42
That is why I need help... I have no clue what is going on... The logs don't show anything... I don't even know where to start...

[2015-12-15 10:28] madman32395 commented on #42
welp, send me a message on steam. im heading to bed at the moment, but should be good to go in a few hours to get you up and running

[2015-12-15 22:52] gabrielt commented on #42
Hi, added you as my friend there. You can also reach me here:
http://www.clubedohardware.com.br/pagina/contato
Thank you for your help!

[2015-12-15 23:30] madman32395 commented on #42
Cool. Let me grab my computer. I accepted your friend request.
On Dec 15, 2015 17:24, "gabrielt" <notifications@github.com> wrote:

[2015-12-15 23:44] madman32395 commented on #42
@gabrielt iight, im all setup. added you on steam, ready to play.

[2015-12-16 00:22] gabrielt commented on #42
Thanks, I am with the chat window open so we can fix this issue together.

[2015-12-16 09:39] madman32395 commented on #42
After troubleshooting, it was found that rewrite urls on his ngnix configuration was the issue, after rewrite was disabled, steam login started working fine.

He is looking into his configuration as to why it failed.

#notasteamloginissue.

[2015-12-16 09:40] #42 closed

[2015-12-17 14:38] shadowtor opened #43 "Problem installing with new update"
So just installed and updated fresh to new version of IPB4
seems that it wont even install the plugin at all, it pretty much just crashes..
is doing this with around 50% of plugins atm.
Any reason behind this?
Any fix to get them working?

[2015-12-17 14:46] Lavoaster commented on #43
Sounds like an IPB issue, not this plugin.

[2015-12-17 20:31] shadowtor commented on #43
Spoke to them before posting this and they said the same thing but for the plugin<div>
</div><div>
</div><div>-------- Original message --------</div><div>From: Adam Lavin <notifications@github.com> </div><div>Date: 18/12/2015  1:46 am  (GMT+10:00) </div><div>To: "Lavoaster/IP.Board-Steam-Authentication-Method" <IP.Board-Steam-Authentication-Method@noreply.github.com> </div><div>Cc: Tom <shadowtor

[2015-12-17 20:34] madman32395 commented on #43
Give me 20 minutes to clean myself up.... Add me on steam and I could take
a peak.
Www.steamcommunity. com/id/madman32395

[2015-12-17 21:20] madman32395 commented on #43
@shadowtor iight, if ya want, im ready to see what broke.

[2015-12-18 05:47] madman32395 commented on #43
taking the user setup error off, as the test install and production site are both 100% fresh installs.

[2015-12-20 03:24] madman32395 commented on #43
User trying to get in contact with host; meets/exceeds all requirements for IPS Core.  Both live and test installs have issues. Determined to be host/server config.

[2015-12-20 03:24] #43 closed

[2015-12-20 03:24] #41 closed

[2015-12-28 05:03] jacrealms opened #44 "Wont allow signup or sign in just redirects"
Click sign in with steam you got to steam and login with your creds then it just goes back to the previous screen without logging you in and or signing them up.

[2015-12-28 05:05] madman32395 commented on #44
Did you upload the files correctly? Plugin and login handler enabled? Curl
enabled?

[2015-12-28 05:12] jacrealms commented on #44
Ya I uploaded the files in the upload folder and I have CurlSSL installed as well as have the plugin and login handler enabled

[2015-12-28 05:13] madman32395 commented on #44
How about rewrite URL? Is this enabled and setup correctly?

[2015-12-28 05:14] jacrealms commented on #44
Where could I look that up?

[2015-12-28 05:14] jacrealms commented on #44
https://gyazo.com/ad767f798ce2a4ceaaf7778dfe6b2060

[2015-12-28 05:17] madman32395 commented on #44
Hmm. Just want to make sure. When you run the system check under support.
Everything is good?

[2015-12-28 05:29] jacrealms commented on #44
yup

[2015-12-28 05:38] madman32395 commented on #44
Interesting. If you would like. I could take a peak? Add me on steam.
Steamcommunity.com/id/madman32395

[2015-12-28 05:41] jacrealms commented on #44
Added

[2015-12-30 15:16] Fighting13th commented on #44
I am having the same issue.  I have IPB Hosted through IPB.  I installed everything correctly. Only step I am not sure of is Enabling Curl.  When you go to Steam and sign in, it looks like it's redirecting but then it goes to a blank screen.  If you hit refresh it takes you to the "Finish Profile" where you enter your display name and email etc.  But none of the Profile syncing works.

[2016-01-02 07:59] madman32395 commented on #44
@Fighting13th Could you add me on steam, I have spoken to multiple admins/managers on your community. And none of them know who made this comment.

[2016-01-11 09:39] eth007 opened #45 "Login loop"
We updated from ips3 with the steam login plugin now we are on ip4.1 with the ip4 version of steam login but every time i try and login with steam id it takes me back to the login screen i have tried re-linking my account with steam but it didn't make a difference. i have all so made sure i added the api key

Any help would be appreciated, Thank you
our website: phantom-gamers.net
Steam: http://st

[2016-01-11 20:40] madman32395 commented on #45
@eth007 Sent steam request.

[2016-01-12 10:09] madman32395 commented on #45
Met with Eth007; after looking at setup, verified setup was done correctly. Even updated to pre-release 2.0.1 still had issues. Spun up a test ips install, found the test install worked flawlessly. Found a difference setup wise. SSL. Disabled SSL for login on live site, and steam registration, login, link and unlink worked flawlessly. Something serverside with the SSL seems to be causing the issue

[2016-01-12 10:11] madman32395 commented on #44
@Fighting13th With no reply after 10 days, I have removed your comment on this issue report. If you have further issue please open a separate issue report.

[2016-01-12 10:29] #45 closed

[2016-01-15 01:07] GeorgeRiley opened #46 "steam login doesn't work with URL rewriting turned on"
On our site (unloze.com) (IPB4) the steam login does not work with URL rewriting turned on, is this related to using nginx to rewrite the URLS,

or is it due to the plugin itself.

All I have to do to reproduce it is turn on url rewriting in IPB with my nginx try_files directive (which handles IPB's FURL rewriting nicely):

content of the appropriate location blocks in the nginx config for the sit

[2016-01-15 04:30] madman32395 commented on #46
Try

   location / {
        index       index.html index.php;
        try_files $uri $uri/ /index.php?q=$request_uri;
    }

[2016-01-15 06:18] madman32395 commented on #44
@jacrealms I visited your site the other day, everything seemed to be working fine. Did something change? Did you guys get it working?

[2016-01-15 19:00] GeorgeRiley commented on #46
Doesn't rewrite properly, cant access "Account Settings" but most of the forum is accessible.

So unable to test that configuration unfortunately.

Perhaps the way the plugin reads the data passed from steam is just not compatible with nginx rewriting no matter how you do it.

[2016-01-15 19:04] madman32395 commented on #46
It's odd because I've seen the plugin work on ngnix with rewrite.

[2016-01-15 20:07] GeorgeRiley commented on #46
It only works if force friendly urls is off with the current rewrite configuration i posted.

[2016-01-16 07:10] madman32395 commented on #46
That would still be a server configuration issue; outside of the plugin.

[2016-01-19 11:01] slapglif opened #47 "Complete Registration page blank"
when any user tries to register with steam, they are able to proceed to the point where they enter their email, click continue, and they get the following:

http://i.imgur.com/vHyDzoP.png

source: [removed]

ive confirmed that the div is not set to display none and checked the registration.php - not sure whats up

[2016-01-21 05:55] madman32395 commented on #44
Lost contact with jacrealms. Attempted Teamspeak and other community administrators. Assuming fixed as site login works.

[2016-01-21 05:55] #44 closed

[2016-01-23 19:50] Lavoaster commented on #25
Unless anyone is willing to pick up the work to do this, I will not be looking into this issue.

[2016-01-23 19:50] #25 closed

[2016-01-23 19:52] Lavoaster commented on #34
Thanks for the idea, however, after some thought this outside of what the scope of what this plugin should support.

[2016-01-23 19:52] #34 closed

[2016-01-23 19:54] Lavoaster commented on #47
@slapglif Could you use an alternative host for the screenshot than puush, like imgur? Puush is great for IM conversations but at some point in the future it will automatically purge your screenshot which will ruin the history for this issue should we need to review it in the future.

[2016-01-23 21:07] slapglif commented on #47
updated image url and removed source for privacy, i tried another template, still no dice.

[2016-01-23 21:15] Lavoaster commented on #47
Does this work on the default theme?

[2016-01-23 21:17] slapglif commented on #47
it does not, thats what i tried.

[2016-01-27 15:27] Soloknight opened #48 "IPS Cloud system"
I have tried to get this installed, but it doesn't show up in the Login Handlers. It installs just fine with no errors latest board ver.

[2016-01-27 15:58] Lavoaster commented on #48
Can you ensure that you've uploaded all the files and correctly installed the hook.

[2016-02-12 03:56] Skamadix opened #49 "Double Post"
Users that sign in through steam all double post each time they make a post on the forum.

Each time they post, they are prompted with
Sorry, there is a problem
Something went wrong. Please try again.
Error code: EX0

This error then generates the below in the error logs in the ACP
OutOfRangeException
0:
#0 /home/carbon/public_html/system/Content/Item.php(3334): IPS\Patterns\_ActiveRecord::load(0)

[2016-02-12 03:58] madman32395 commented on #49
This wouldnt be a fault of the plugin.

If you want I could look into it anyway. hit me up on steam.

[2016-02-12 03:58] Skamadix commented on #49
What is your steam?

[2016-02-12 03:59] madman32395 commented on #49
http://steamcommunity/id/madman32395

[2016-02-12 03:59] Skamadix commented on #49
Added, thanks

[2016-02-12 04:23] #49 closed

[2016-02-12 04:23] madman32395 commented on #48
@Soloknight Are you still having issues? If you would like I could take a look for you.

[2016-02-12 04:30] #46 closed

[2016-02-12 07:32] Soloknight commented on #48
It's all good, got it working, we had a problem with ftp access. Thanks for
the plugin works great.
On Feb 11, 2016 11:23 PM, "Justin Barth" <notifications@github.com> wrote:

[2016-02-13 07:28] #48 closed

[2016-02-16 13:59] stormdr1ve opened #50 "Call to undefined method IPS\Login\Steam::canProcess()"
When a user tries to dissociate from a different login method, each login handler's `canProcess` method is called (in `\IPS\core\modules\front\system\settings`) to check whether the user has any other login handlers associated with their account. Your login handler doesn't have this method, causing an exception.
I have also filed a bug with IPS: https://community.invisionpower.com/4bugtrack/active

[2016-02-16 18:40] madman32395 commented on #50
What is your site? I'll check it out in about an hour.

[2016-02-16 21:19] stormdr1ve commented on #50
https://linustechtips.com/main/, but the issue should be present on all sites.

[2016-02-16 21:40] Lavoaster commented on #50
@stormdr1ve This sounds like it should be a fatal error, however, it doesn't appear to be. I logged into the linus site with my steam account, linked my google account and then unlinked the steam account without any errors.

Is this error only appearing in the logs?

[2016-02-16 21:55] stormdr1ve commented on #50
@Lavoaster You have to dissociate a different method, and you also need to either only have Steam and that other method enabled initially, or the only other methods that are enabled need to be after Steam in the login handlers list (on that site, none are, so you need to just have steam and something else (eg Google) enabled, then disable that other handler (Google)).

[2016-02-16 21:58] Lavoaster commented on #50
What version of IP.Board did `canProcess` get implemented in?

[2016-02-16 22:03] stormdr1ve commented on #50
I'm not sure (I would have guessed that it was there from the start, but I don't have any of the old files), but adding it shouldn't break any older installations unless IPS did something really strange.

[2016-02-16 22:32] madman32395 commented on #50
I tried to disassociate my account from a GTA RP website that I used steam
as my only login and it told me I couldn't disassociate my steam since it
was the only way of logging into my account. I'll try on your site here in
a sec.

[2016-02-16 22:35] Lavoaster commented on #50
@madman32395 The bug is attempting to disassociate another login handler whilst the steam one is associated.

[2016-02-17 00:06] #50 closed

[2016-02-17 00:24] Lavoaster commented on #50
@stormdr1ve I appreciate this bug report, I have no idea how this was missed previously. Anyway you will find the updated version on the marketplace or in the releases here on github.

This plugin almost went a year without bugs, I guess the clock resets now... :smile:

[2016-03-01 07:39] madman32395 commented on #47
I installed a local WAMP stack on my computer, with 3.4.9 and the steam login for 3.x from github, and was able to register just fine (like completely logged out, and followed reproduction steps). seems to be an issue locally on their end.

@slapglif  random question, have you tried doing a fresh install of 3.4.9?

[2016-03-10 00:55] #47 closed

[2016-03-24 18:25] madman32395 opened #51 "Proper Redirect upon login"
Main issue was fixed for 4.1.9 by Lindy ; Native login Handlers now work as intended, but steam still has issue.

Issue: Visit a page that requires login/permissions, login, and get redirected back to homepage instead of intended page.

https://invisionpower.com/4bugtrack/archived-reports/40131-ipsconnect-login-in-doesnt-redirect-to-the-current-page-r8199/

[2016-04-06 23:23] techpulse opened #53 "not working 4.1.10"
corrupted my site, ips staff said..

"No, that is a different issue caused by the Steam login handler. It is currently incompatible with the latest version, so I recommend contacting the author to see if there is an updated version available.

[2016-04-06 23:26] madman32395 commented on #53
Have you updated your steam plugin to 2.0.2?

[2016-04-06 23:37] madman32395 commented on #53
Reason why I ask, is my live site, and various other communities that I manage currently do not have any issue.

[2016-04-07 00:51] madman32395 commented on #53
my bad, i misread that and thought you meant 4.1.9 ' ill be installing a run of 4.1.10 right now, and seeing whats up

[2016-04-07 13:11] cammackmatthew commented on #53
So we're also having the same issue with the latest IPBoard update.

`Fatal error: Class IPS\Login\_Steam contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (IPS\Login\_LoginAbstract::canProcess) in C:\inetpub\wwwroot\forums\system\Login\Steam.php on line 277`

We're using 2.0.2 and issue is happening.

[2016-04-07 13:28] Drehmini commented on #53
We're using 4.1.10 and we're receiving this error.
We receive a 500 error along with the below. Disabling/uninstalling the plugin has no affect.

[code]

[2016-04-07 16:51] madman32395 commented on #53
@techpulse @Drehmini I suggest updating steam to 2.0.2

@cammackmatthew since you say youre on 2.0.2 and still having issue. i would like a closer look in your acp and would need ftp. add me on steam for private messaging. http://steamcommunity..com/id/madman32395

[2016-04-07 16:52] cammackmatthew commented on #53
@madman32395 I've sent a request.

[2016-04-07 16:53] Drehmini commented on #53
@madman32395 We are at version 2.0.2 (20002) See attached.
![steamver](https://cloud.githubusercontent.com/assets/3511956/14359511/b39d949e-fcbf-11e5-9c08-1dce30fdb03d.PNG)

[2016-04-07 16:56] madman32395 commented on #53
@Drehmini hmm. looks like you get to add me as well.

[2016-04-07 17:28] madman32395 commented on #53
K matthew is back up and running. @Drehmini You ready?

[2016-04-07 17:30] Drehmini commented on #53
@madman32395  I'm currently at work. I'll have one of my administrators contact you shortly.

[2016-04-07 17:31] madman32395 commented on #53
sounds good :+1:

[2016-04-07 18:18] madman32395 commented on #53
k drehmini is up and running again. @techpulse you still having issues?

[2016-04-08 10:51] Lavoaster commented on #53
@madman32395 What's the issue?

[2016-04-08 17:32] madman32395 commented on #53
@Lavoaster Unknown issue with techpulse, but the other two were just simple update of the plugin (both xml AND upload folder; appeared to have only updated the xml)

[2016-04-10 13:55] AustinARPL commented on #53
I had the same issue, all it takes to fix is to manually upload all of the files in the uploads folder to your server and then it should work on a refresh

[2016-04-10 13:57] madman32395 commented on #53
Yup. That's how you update it. Upload the upload contents, and update
plugin using the XML. :)

[2016-04-16 10:05] madman32395 commented on #53
@techpulse I have no heard back from you in over 9 days, if you still have this issue please update your app by uploading the upload folder contents, and clicking upload new version on your plugin then upload the xml.

if you continue to have this issue afterwards or require assistance updating, please feel  free to get in contact with me or reopen this issue.

Thanks - Closing Issue.

[2016-04-16 10:05] #53 closed

[2016-04-18 15:28] techpulse commented on #53
Sorry, forgot about it. Will try now.

[2016-04-24 17:13] ADKGamers commented on #53
So we upgraded last weekend to 4.X (latest version) and are having the issue where it redirects. I've uploaded the files numerous times from multiple computers just to make sure it wasn't something funky on one computer and also updated the plugin again, but still running across this issue. Let us know what you need from us to help troubleshoot.

Thanks

[2016-04-24 17:26] madman32395 commented on #53
I'm sorry you are having issues. I work until 10pm CT , I could poke around
then and see what's happening?

[2016-04-24 18:39] ADKGamers commented on #53
Any help would be great. :)

[2016-04-25 04:59] ADKGamers commented on #53
@madman32395 let me know the best way to get in touch with you.

[2016-04-25 05:33] madman32395 commented on #53
@ADKGamers best way to get in touch with me is on steam www.steamcommuntiy.com/id/madman32395 ; or skype madman32395

[2016-04-25 05:51] ADKGamers commented on #53
@madman32395 sent the request on steam

[2016-05-04 03:56] ADKGamers opened #54 "Check Username Restrictions"
Hello,

I know that it pulls the name directly from steam but was wondering if there's anyway to either follow the username restrictions that are in place on the forums, or make it sot hat people have to enter in usernames.

The reason for this request is there's a lot of people who have special characters in their names, especially at the beginning and it makes it difficult to tag them on the for

[2016-05-04 04:08] madman32395 commented on #54
@ADKGamers If you wish to not have the system use steam usernames and have your users manually type their username just turn off this setting in the login handler 'Use Steam Username?'
https://drive.google.com/file/d/0B0mBb9QuGv84QTJzNHpwVkpxMG8/view?usp=drivesdk

New registrations will ask the user then to enter a username.

[2016-05-04 17:48] ADKGamers commented on #54
@madman32395 sorry -_-  Been trying to fix a bunch of bugs with the IPB devs, not much sleep and totally forgot about that.  My bad. . haha

[2016-05-05 02:03] #54 closed

[2016-06-08 17:03] Napsterlove opened #55 "Not going to upgrade to IPB4, but have ssl Problem."
Before you ask lol, I will not be upgrading to IPB4 (probably would fix all my problems), as I paid a designer for a custom theme some time ago, and don't see it as a wise decision atm.

Anyways, My problem is the result of changing the entire site to HTTPS via a cloudflare proxy. The site itself works flawlessly, however my login methods are troublesome. Steam Authentication works normally, until

[2016-06-08 17:28] madman32395 commented on #55
Is it keeping the user on the steam login page?

Also would still suggest 4.x as that is what IPS is now fully supporting
and they only do security patches for 3.x.

[2016-06-08 17:30] Napsterlove commented on #55
Yes, It loads briefly, and keeps the user on the steam login page, instead of redirecting to the board. I would rather live without steam login than upgrade at this point lol.

[2016-06-08 17:52] madman32395 commented on #55
I have a feeling on what it is. But I'm not home atm.

[2016-06-08 21:18] madman32395 commented on #55
@Napsterlove sup bud, hit me up on steam ; would need FTP and ACP.  http://steamcommunity.com/id/madman32395

[2016-06-08 21:53] Napsterlove commented on #55
Sent an invite, awaiting acceptance

[2016-06-09 01:18] madman32395 commented on #55
Found client setup issue, forgot to turn on SSL with login, as rest of site is https. this was causing openID to freak out as it came from a https site but wanted to return to a http site. openid wasnt having none of that. Ticked on Login with SSL. but then further server issues appeared. @Napsterlove would have to correct redirect loop issue on their server first. Might be a Cloudflare issue. Sug

[2016-06-17 04:50] #55 closed

[2016-07-22 11:55] hznovich opened #56 "Not work in 4.1.13 - canProcess()"
PHP Fatal error:  Class IPS\\Login\\_Steam contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (IPS\\Login\\_LoginAbstract::canProcess) in /home/..../system/Login/Steam.php on line 0, referer: https://..../admin/?adsess=oj445uje4fvpr3k0v1buih9je5&app=core&module=system&controller=login&error=NO_ADSESS&ref=

[2016-07-22 17:59] madman32395 commented on #56
have you updated this plugin to 2.0.2 and reuploaded the upload folder contents? I can validate that it works in 4.1.13

[2016-07-25 18:47] madman32395 commented on #56
@hznovich are you still having issues?

[2016-07-26 22:50] gerrard9099 opened #57 "Save users to external database?"
Is it possible to save users to another database? I will run a sql script to check for Steam id's and the cloud hosting does not support those kinds.

Pasting some raw code here.
`reguservoiceenabler_query   "SELECT * FROM `ipbmembers` WHERE `steamid` = '{steamid}';"
reguservoiceenabler_steamidformat 1`

Thanks again.

[2016-07-27 03:22] madman32395 commented on #57
this writes steamid's to the core_member table.  why not have your script target the core_member table to get the 'steamid' column?

tldr; no its not possible for this plugin to write to external.

[2016-07-27 03:25] #57 closed

[2016-07-27 12:57] hznovich commented on #56
Sorry man. Yet to be tested, not enough time. Closer to the weekend check and write the result.

[2016-08-07 23:00] hznovich commented on #56
Worked. Sorry for long answer. The problem was due to another plugin. But in the logs was a mention of steam login.

[2016-08-08 04:49] madman32395 commented on #56
@hznovich no prob, figured the CanProcess and having issues thought you were a recent updater and didn't update the steam plugin fully or at all :+1:

[2016-08-08 04:49] #56 closed

[2016-08-18 22:10] MStruntze opened #58 ""Something went wrong. Please try again" after IPS update"
After updating to v4.1.14 users are unable to use this sign in method and are met with the ["Something went wrong. Please try again"](https://gyazo.com/9cf36eb8cac49689d35fa63bb27e6585) error.
No errors in system and error logs on ACP.

[2016-08-19 01:34] johngalt commented on #58
Can confirm this problem since the v4.1.14 update. Was working fine prior to update. Not seeing any errors aside from what the OP mentioned. Trying to connect the steam account on the Account Settings page just redirects back to the forums as if nothing happened.

[2016-08-19 01:59] johngalt commented on #58
I think it has something to do with the recent change in the API with \IPS\Http\Url (https://invisionpower.com/release-notes/4114-r49/). It only shows what was changed to contributors, however.

Doing some debugging, I believe the error is within the validate function, probably with the above mentioned  API change:

`$response = (string)\IPS\Http\Url::external('https://steamcommunity.com/openid/lo

[2016-08-19 03:12] madman32395 commented on #58
@johngalt good guess, but in the post referenced in that release note (in the contributor chat), the functions utilized in this plugin, are unaffected.

\IPS\Http\Url, objects of which are external URLs
\IPS\Http\Url\Internal, objects of which are internal URLs
\IPS\Http\Url\Friendly, objects of which are front-end friendly URLs
You still create objects in the same way (so backwards compatibility

[2016-08-19 04:12] madman32395 commented on #58
so far determined its authentication issue.   Soon™  (lol shouldn't take as long as valve though)

[2016-08-20 05:55] madman32395 commented on #58
Appears that IPS released an update (4.1.14.1) and it was supposed to fix most 3rd party addons.

But on my site, I got no change with the plugin. everything in the plugin /should/ work  as nothing is depreciated/removed.

[2016-08-20 20:31] MStruntze commented on #58
Updating to the latest version of IPS didn't change anything. Still no error or system logs.

[2016-08-21 10:14] NightlyDev commented on #58
Look's like OpenID does not validate... Causing the error.

[2016-08-21 22:32] madman32395 commented on #58
oh you're talking about reverting the URL Class back to pre 4.1.14.x   ;;; hmm. i guess that's a hacky workaround, but still is a IPS issue that needs to be addressed.

[2016-08-24 23:41] johngalt commented on #58
@NightlyDev

Mind sending me the old Url class so I can do the same thing?

[2016-08-26 22:16] MStruntze commented on #58
They released another update, but the issue seems to persist.

[2016-08-26 23:57] Pydrex commented on #58
We can confirm the issue is still happening on the latest update of 4.1.14.2

[2016-08-27 17:24] ctark commented on #58
For anyone who wants to use NightlyDev's workaround until the dev is able to resolve this issue, here is an older version of Url.php.  Follow his instructions and you should be fine.  Make sure you don't overwrite the Url.php that is there, make a new file called Urlold.php

**http://pastebin.com/YQ4ZTpLQ**

[2016-08-28 01:48] Whip-Tide commented on #58
Hello, I am trying to do this workaround. How exactly do i do this?

[2016-08-29 20:02] Lavoaster commented on #58
Hi All,

In the update IPS pushed out, it contained an updated query parser which broke some of the values in being sent by Steam. This change meant that the plugin was sending wrong values back over to steam's service and steam was unable to verify a valid request was made to login to the system, so it returned false.

A quick fix for this will be to update `system\Http\Url.php` find line `1064`

[2016-08-29 20:29] Lavoaster commented on #58
Here's a link to the bug I've posted on the IPS Tracker.

https://invisionpower.com/4bugtrack/active-reports/url-query-string-parsing-is-too-aggressive-strips-extra-from-urls-breaks-openid-r12395/

[2016-08-30 04:19] jimjim135 commented on #58
Thanks for the update, Lavoaster.

I've made the changes you've suggested on line 1064 and I'm still experiencing the same result.

Do you have any other suggestions? Thank you.

[2016-08-30 07:06] madman32395 commented on #58
Can confirm what @jimjim135 said.

[2016-08-31 06:29] aStonedPenguin commented on #58
Doesn't seem to fix the issue on PHP7

[2016-08-31 07:28] madman32395 commented on #58
Penguin. Im on php7 and the edit lavo posted works fine.

[2016-09-01 01:25] aStonedPenguin commented on #58
Anyone who needs it can find the old url class here: https://gist.github.com/aStonedPenguin/1e454ee0b930e5f0cf34977dd47518a4

[2016-09-01 04:39] madman32395 commented on #58
Upon doing lavo's fix, and reverting any changes made by previous "workarounds". it should work to login to the suite on the frontend.

also just a heads up distributing the oldclass (or any part of the suite) is against IPS's SOS anyway.

[2016-09-01 23:08] Master96Pro commented on #58
@jimjim135 same problem here. I can't sign in on the cp through steam :(

[2016-09-05 13:26] MrEichi commented on #58
Can confirm that lavos fix in the URL class solves it. GG IPS Team :(

[2016-09-16 15:28] PresidentEvil opened #59 "profilesync task locks up with this plugin"
I'm using IPS 4.1.14.3

Members am unable to upload or change photos, IPS support says this plugin is causing the issue. When I disable this plugin, this error goes away and profilesync runs fine.

InvalidArgumentException:  (0)
#0 /home/slayersg/public_html/system/Image/Image.php(95): IPS\Image\_GD->__construct(Object(IPS\Http\Response))
#1 /home/slayersg/public_html/system/File/File.php(217): IP

[2016-09-16 18:18] Nesyth commented on #58
Updating to the newest beta version of 4.1.15 fixes the issue.

[2016-09-16 23:20] madman32395 commented on #58
The fix was done one the other ticket. It was deemed ips issue. And set to
fix on 4.1.15

[2016-09-16 23:25] madman32395 commented on #58
I'm mobile so I can't edit my last post lol. But the other ticket is referring to this one.

I'll add a thing to this ticket saying it was fixed by IPS.

[2016-09-16 23:26] madman32395 commented on #59
Do you have cURL enabled and to recommended or higher version?

[2016-09-17 09:54] madman32395 commented on #59
* or have ImageGD enabled / installed correctly?   ; while the error says its steam, this is not an issue for myself or the many others that have it installed.

[2016-09-17 15:04] Celant commented on #58
Hey @madman32395 currently we're unable to upgrade our IPS. We've applied the hotfix that lavo mentioned which worked perfect for the website front-end.

Our issue now is the admincp. Still getting "Something went wrong. Please try again." when attempting to login with Steam via the AdminCP. Any ideas?

Happy to provide a phpinfo(); dump if needed.

[2016-09-19 16:47] PresidentEvil commented on #59
my bad, it was a server issue, all fixed now

[2016-09-19 16:47] #59 closed

[2016-09-28 12:28] kanalumaddela opened #60 "Bypassing approval process and registering when site is offline"
When a new user registers with steam sign, they are able to:
- Bypass approval process (email confirmation + manual admin approval)
- Does not display in the member lists in the admin cp, but can be search for

And on top of that, while both **registration is disabled** through admin cp and the **site is set as offline, the user is able to register** which is a big issue in my opinion. The only wa

[2016-09-28 14:47] Lavoaster commented on #60
@kanalumaddela Can you verify if the registration issue persists within other login handlers?

[2016-09-30 05:18] Flumadiddle commented on #58
I am still receiving this same error. I have reinstalled the plugin multiple times.
I am running IPB v4.1.15 on nginx 7.0.

[2016-10-01 01:44] kanalumaddela commented on #60
Apologies for the last response

Thanks for that information, I wasn't aware of it and will keep an eye on that.

The issue with bypassing admin approval was a misinterpretation of how I saw it in the admin panel, but here's why:

I have both google and steam auth enabled. When the site is set as offline, using either of those methods still allows a user to register. Using the google method gets t

[2016-10-01 03:00] madman32395 commented on #60
Yes, they can register. That is normal operation. But until they are given
permissions of an account, they will either be authorized to log in while
offline or unauthorized.

As for member ID spamming. I wouldn't sweat it lol. The system will only
allow them to register once per handler unless they cancel registration.

[2016-10-01 16:20] ChicagoMikey opened #61 "Forum version 4.1.15"
Plugin may not work on forum version 4.1.15. User tried to sign into forum via plugin and received error: Not Acceptable

[2016-10-02 07:18] madman32395 commented on #61
Can you provide a screenshot or logs of some kind. I have never seen that error with this plugin or natively in IPS related to login.

One thing I would check for is proper rewrite, and make sure you have the login fully setup (API key, upload folder uploaded correctly, using latest Steam Login, plugin enabled)

[2016-10-02 07:19] #60 closed

[2016-10-02 20:42] Flumadiddle commented on #58
Even with Friendly URLs and rewrites disabled, the issue is still occurring. I am running the latest versions of both IPB w/ unmodified Url.php and the plugin.

[2016-10-02 20:48] stormdr1ve commented on #58
It works correctly on 4.1.15 on PHP7 and nginx for me, tunneling the request directly to PHP without rewriting the (friendly) url.

[2016-10-03 01:31] Aszune commented on #58
I have **Nginx** and **PHP 5.6**, with **IPS 4.1.15**, I have the same issue @Flumadiddle
The same error, when steam redirect to my forum, I see error message, and the account not linked.

"Something went wrong. Please try again"

What configuration have you @stormdr1ve ?

[2016-10-03 01:49] aStonedPenguin commented on #58
Using the old URL class fixes the issues you guys are having now.

[2016-10-03 02:07] madman32395 commented on #58
are you guys using the version available here or the one from the IPS Marketplace? Try uploading the one from the marketplace and see if that helps.

[2016-10-03 05:34] Aszune commented on #58
I download and using the plugin from Marketplace  @madman32395

[2016-10-03 17:04] ChicagoMikey commented on #61
This plugin worked before I upgraded. Just to make sure, I reinstalled the plugin before recording the below video: https://youtu.be/ms-oW8lGjNE

[2016-10-03 17:41] Lavoaster commented on #61
Can you post your nginx vhost?

[2016-10-03 17:47] Lavoaster commented on #61
Actually, you're using Litespeed and on review, I don't see any part of this plugin that would ever issue a `406 Not Acceptable` request back. Add that to the fact that only 'Not Acceptable' is in the body of the response leads me to believe you've got a misconfigured server.

I won't be able to help you with this, something on your web server must have changed at the same time as your upgrade.

[2016-10-03 17:47] #61 closed

[2016-10-03 19:22] ChicagoMikey commented on #61
Ok, so I discussed the issue with my host and you guys were right, hopefully the below information will help out other users having the same issue as me:

A 'Not Acceptable' error usually means you're triggering a mod_security rule we have in place. Considering this is doing an authentication through a third party URL/resource I wouldn't be surprised that were the case. Please add the following to

[2016-10-03 21:40] Lavoaster commented on #61
🎉

[2016-10-03 22:55] Lavoaster commented on #58
Anyone trying to use ACP authentication, can you download [this](https://raw.githubusercontent.com/Lavoaster/IP.Board-Steam-Authentication-Method/master/upload/system/Login/Steam.php) and replace the file at `system\Login\Steam.php`

[2016-10-04 07:38] Flumadiddle commented on #58
@madman32395
Looks like you were right! The nginx rewrites I had configured were not taking care of query strings correctly. I fixed them and the plugin is now working properly.

Old rewrite rules:
[code]
New rewrite rules:
[code]

[2016-10-04 11:38] deathward4 commented on #58
The updated Steam.php file worked. AdminCP is accessible now.

You're wonderful.

[2016-10-06 00:15] Aszune commented on #58
Thank you @Flumadiddle, I apply new rewrite rules, u posted here, and now works for me!

[2016-10-08 16:12] #58 closed

[2016-10-13 09:29] VahaknN opened #62 "cloud hosted version 4.1.15 issue with "login Handler""
Hi there Lavoaster
  Am currently testing out your plugin on a temporary trial version of the Ipboard in a cloud host environment. version 4.1.15. i uploaded the steam xml file as you instructed, made sure it is enabled from the "plugins" menu, but when i navigate to the "login handler" section it does not show the "Steam" option at all as your instructions say. its not present with the rest of th

[2016-10-13 13:58] madman32395 commented on #62
The plugin also needs files to be uploaded. The "Test/Demo/Trial" version
is very restricted anyway.

But it is possible to install onto a CiC (Cloud) installation. IIRC we have
a few clients on CiC.

[2016-10-21 18:33] kyllagdrgn opened #63 "ACP login problem IPS 4.1.16.1"
After updating to IPS 4.1.16.1 my admin users using Steam auth can no longer get to the ACP. The login process seems to go well until it returns to IPS where you are presented with the error "Something went wrong. Please try again." on the login pane.

[2016-10-22 09:33] madman32395 commented on #63
Please update your plugin against the GitHub. ACP was updated on GitHub pending release to IPS Marketplace.

If after updating issue is still there let me know.

[2016-10-24 09:38] BritishBorders opened #64 "Login Display Error."
Hello,

I have viewed the most recent thread which suggests a fix in the URL.php but to no success. It doesn't display on our login page. (Sent via IPB 15/09)

You requested that i submitted my bug here so i will do. Although steam appears on our login handlers as shown below

https://i.gyazo.com/5cdfe627353539a0a21680a9c13c4c6e.png

That being said i have reinstalled the .xml and added the files

[2016-10-24 10:29] madman32395 commented on #64
Are you using a custom theme? Try restoring the default theme and viewing it that way? It could be a theme conflict.

[2016-10-24 10:29] #62 closed

[2016-10-24 10:49] BritishBorders commented on #64
OK. I will check now thanks

[2016-10-24 10:51] BritishBorders commented on #64
It appears it is a theme issue as shown on the default theme it displays

[2016-10-24 10:51] BritishBorders commented on #64
https://i.gyazo.com/5913645af69a18d5a4c2aee8b44310f0.png

[2016-10-24 10:56] BritishBorders commented on #64
The problem has been fixed. Thanks

[2016-10-24 10:56] #64 closed

[2016-10-25 18:21] madman32395 commented on #63
Please update your plugin against the GitHub. ACP was updated on GitHub
pending release to IPS Marketplace.

If after updating issue is still there let me know.

[2016-10-27 14:49] AustinARPL opened #65 "New users not able to sign up"
I was on 4.1.10 and users were able to sign up, but now since I updated to 4.1.16.1 new users get met with this error after signing into steam: https://i.gyazo.com/1ef32ac9ef5f0744c7055f100df45213.png

They come up as this afterwards https://gyazo.com/a616a259616c42fe0770dd78f1af16f7

[2016-10-27 15:36] madman32395 commented on #65
Check your redirects, that's a server issue.

[2016-10-27 19:43] madman32395 commented on #63
@kyllagdrgn are you still having issues?

[2016-10-27 21:07] kyllagdrgn commented on #63
Thanks, I have not had time to apply the patch yet. I am sorry I did not responding earlier.

[2016-10-28 01:00] madman32395 commented on #63
That's alright. Was just checking. I don't like seeing you guys upset :P

[2016-11-09 02:59] TripleThreat-FragDeluxe opened #66 "Nginx friendly URL rewrite issue"
Hi,

I'm having issues getting this to work when using the friendly URLs option on nginx with the following rule:

Any help will be appreciated.

Regards,
[FragDeluxe Community](https://www.fragdeluxe.com)

[2016-11-09 05:08] madman32395 commented on #66
location / {
            try_files  $uri $uri/ /index.php;
        }
        location ~^(/page/).*(.php)$ {
            try_files  $uri $uri/ /index.php;
        }
New rewrite rules:

        location / {
            try_files $uri $uri/ /index.php?$args;
        }

That was what was provided by another plugin user.

[2016-11-09 05:38] madman32395 commented on #66
;P seems to be working fine for me

[2016-11-09 22:09] madman32395 commented on #65
@AustinARPL  I am going to assume everything is working again for you guys. I visited ArmaRP.life and registered via steam, and provided a username and email, but was presented with an error (attempted registration at 1608 CST, 9NOV16)

You are not permitted to register a user account with this site.
Error code: 2S272/1

Safe to assume your site redirects properly and allows users to register and

[2016-11-09 22:10] madman32395 commented on #63
@kyllagdrgn everything doing alright? Just wondering if it's safe to close this issue :P

[2016-11-10 02:47] TripleThreat-FragDeluxe commented on #66
Hi, thanks for the response but unfortunately I wasn't able to login after making the change.

I'm not too sure what's wrong, most likely something on my end if the above rule is working for you.

[2016-11-10 03:00] Aszune commented on #66
try restart nginx after, it's necessary :)

[2016-11-10 14:10] kyllagdrgn commented on #63
Yes, everything is fine you can close this issue. Thanks

From: Justin Barth [mailto:notifications@github.com]
Sent: Wednesday, November 09, 2016 5:10 PM
To: Lavoaster/IP.Board-Steam-Authentication-Method <IP.Board-Steam-Authentication-Method@noreply.github.com>
Cc: David Verdin <david.verdin@zenimax.com>; Mention <mention@noreply.github.com>
Subject: Re: [Lavoaster/IP.Board-Steam-Authentication-M

[2016-11-10 14:48] #63 closed

[2016-11-16 13:00] Lebofly opened #67 "Login to AdminCP"
After logging into Admin CP with steam you're sent back to the login page with "Something went wrong. Please try again." running 4.1.16.1

[2016-11-16 13:06] Lebofly commented on #67
Looks like https://invisionpower.com/files/file/7555-sign-in-through-steam-ipb4/ is out dated

[2016-11-16 13:24] madman32395 commented on #67
Yea, the marketplace one is behind the GitHub. Have you downloaded and updated from the GitHub version?

[2016-11-16 13:52] Lebofly commented on #67
Yeah it worked fine. Cheers

[2016-11-16 13:52] #67 closed

[2016-11-16 14:16] Lebofly commented on #65
Was probably mod_sec, I had the same issue on MyBB

[2016-11-18 05:31] TripleThreat-FragDeluxe commented on #66
Hi, I did try restarting nginx and it didn't work.

I just tried again now, gave it a couple of restarts and now it's working.

Thanks for your help, this issue is now resolved.

[2016-11-18 05:31] #66 closed

[2016-11-24 21:13] island55 opened #68 "unable to sync steam account with already registered account"
ipboard 4.1.16.1

under the account settings there's the Steam option, once selected and sign in through Steam's API - it brings up the exact same page as if you've never even logged in with Steam's API.

before signing in with Steam -> http://puu.sh/stkgO/39d4652c1a.png
confirming with Steam -> http://puu.sh/stkiF/173fcc0473.png
after confirming with Steam -> http://puu.sh/stkkx/6126ec1b71.png

[2016-11-24 21:28] madman32395 commented on #68
@island55 have you entered your Steam Web API key into the login handler? Have you properly uploaded the files to their correct locations? Do you use mod_sec? Custom htaccess file?

[2016-11-25 02:28] island55 commented on #68
sorry for late reply was visiting family. but yes i've entered the Steam API and auto installed the Steam plugin with the included XML file. not sure what mod_sec is but i do have an added htaccess file and when i tried to remove the htaccess file it made the forum not work anymore?

[2016-11-25 02:29] island55 commented on #68
actually i was required to use the htaccess file to have friendly URLs if i recall correctly? perhaps that's why the forum errors when the htaccess file it removed

[2016-11-25 04:53] madman32395 commented on #68
Auto installed? so you installed the xml in the plugin menu... how about the files in the upload folder?

Then you probably dont use it.

Correct. Curious what Web Server are you using? Apache or NGnix?

[2016-11-25 14:41] island55 commented on #68
i did upload the contents of the upload directory in their respective directories then installed the xml file, i use nfoservers.com for my web hosting which runs Apache; https://www.nfoservers.com/webhosting.php#differences

this sign in with Steam previously worked as intended but recently stopped for some reason

[2016-11-25 16:45] madman32395 commented on #68
Have you updated via the GitHub? There were some fixes we uploaded to GitHub but have not pushed to the IPS Marketplace yet.

[2016-11-25 16:49] island55 commented on #68
i have not.. are there any special steps to upgrading? i don't want to do something incorrectly and corrupt any files

[2016-11-26 05:16] madman32395 commented on #68
no there isnt anything special for upgrading, you just download from github, then reupload the uploads folder contents and click update on the plugin (uploading the provided xml from the github download).

yup

[2016-11-26 13:33] island55 commented on #68
great, that seemed to have work! one more question though, is there a way i can modify the url people are directed once they complete the sign in through Steam? i'm using easy pages and when folks sign in with Steam this is what is seen: http://puu.sh/sv2Ad/1c04d05ebb.png
i'd like for them to just end up at the forum page

[2016-11-26 17:51] madman32395 commented on #68
It's just going to return them to their previously viewed page before
signing in. All the login handlers do this.

I have seen others request this on the company forums.

[2016-11-26 19:18] #68 closed

[2016-11-26 19:21] madman32395 commented on #65
@AustinARPL I have not heard from you since October. Is it safe to say your issue has been resolved?

[2016-11-27 01:59] Lebofly opened #69 "Sign out not clearing session"
I'm having a couple of issues with sign in/out, when users sign in sometimes it just redirects them to the sign in page again to go through an endless loop unless they go to the forum root and try again. Another issue is sign out takes you to the signed out page but upon returning to index you're still signed in. If someone wants to take a closer look at this let me know, I should also mention my

[2016-11-27 03:19] island55 commented on #69
i had the same issue, check here for my fix
https://github.com/Lavoaster/IP.Board-Steam-Authentication-Method/issues/68

[2016-11-27 04:26] Lebofly commented on #69
Unfortunately I'm already running from the Github version, (Latest)

[2016-11-27 05:46] madman32395 commented on #69
Apache or Ngnix?

[2016-11-27 06:19] Lebofly commented on #69
Apache

[2016-11-27 19:53] madman32395 commented on #69
Are you using a modified htaccess? Or the stock one from the friendly URL
area from the ACP?

[2016-11-29 07:42] Lebofly commented on #69
Stock one

[2016-12-04 08:57] hanman5000 opened #70 "Steam Account Linked to Multiple Forum Accounts"
I think this is worth reporting, my sincere apologies if it is not.

Right now, you can "sign in with steam" AND add that same steam account to an existing account on the IPS website.

If you do this it breaks the "sign in through steam" functionality (because I'm assuming it tries to log into both accounts, the existing board account + the steam created account).

This is problematic because that

[2016-12-15 12:20] jujuonthatjolly opened #71 "Sign in with Steam not showing"
I had followed your instructions, yet i dont have Login Methods, I have Login Handlers and Steam is not one of the handlers. It doesnt even show up. Im using v.4.1.17.1  of community suite.

please help

[2016-12-20 04:01] #65 closed

[2016-12-20 04:03] madman32395 commented on #70
Moving forward, best would be to have the column set to Unique. But the issue originally lies on the end user creating multiple accounts.

I would be able to poke at this after holiday. RL job is utilizing me currently.

[2016-12-20 04:07] madman32395 commented on #71
@jujuonthatjolly sorry for the delay. Work has been busy...

do you have access to your SQL tables via PHPmyAdmin or similar?

https://github.com/Lavoaster/IP.Board-Steam-Authentication-Method/issues/32#issuecomment-149040549

I would recommend running (if confortable) the insert command to manually place the steam handler into your login methods.

hit me up sometime if you need help running that

[2016-12-31 07:35] mhknz commented on #71
I'm having this problem too, I think it;s with a recent update of IPS. Can I get help?

[2016-12-31 16:48] PangbornIdentity opened #72 "Cant use with https/SSL"
Hello,
We are using Microsoft single signon as well as Steam single sign on. Micosoft requires https endpoints for single sign on, this means that we have to turn on Under Login Handlers > Login Settings > Use https for logins and the AdminCP.

The issue though is this breaks single signon with steam plugin.

Here is a dump:

Server Info:

IPS Community Suite v4.1.17.1
PHP Version	5.6.20
MySQL Ver

[2017-01-01 18:42] madman32395 commented on #72
@PangbornIdentity Hey bud, just curious was this the version found on the IPS Marketplace, or have you tried the github version? I am curious if the github's 2.0.2 will make the issues go away.

-----
Also neat looking game, I signed up to try to win a copy with Xbox Ambassadors. (waiting for the contest to end to see if I win or not lol)

[2017-01-01 18:44] madman32395 commented on #71
@mhknz I've seen this issue before, it's unrelated with IPS versions as this was happening back in Late 2015.

[2017-01-01 19:26] madman32395 commented on #71
From what I see, it's not a consistent issue, and more related to the setup of server.

[2017-01-02 05:58] SlinkyDinky opened #73 "Log users SteamID64 In to their profile info"
I appreciate this so much, but I'm just wondering is there a chance you can implement the users steamid64 to there profile info? This would be super efficient to me because I can easily grab their steamid64 and then whitelist them to my arma server. Thanks again.

[2017-01-02 06:42] madman32395 commented on #73
I would recommend having a plugin built on ARMA to target the forum's core_members table targeting steamid column ; since ARMA is done through steamworks have the job is done for you (just make sure to use secured servers in arma)

[2017-01-02 18:26] SlinkyDinky commented on #73
@madman32395 That's a great idea. Sadly I don't have any coding knowledge though 👎 Will look in to it more though, thanks!

[2017-01-03 04:50] #73 closed

[2017-01-04 02:53] PangbornIdentity commented on #72
I think they are the same version.
judging from the lack of https redirection this was indeed a setup issue. we forced the hosted IPS site to use https everywhere and this resolved it.  Thanks for the suggestion. not sure if this is useful in a setup guide somewhere but feel free to add.

I havent worked on the title, just helped with some website stuff.  Throw a high five to any of these talented

[2017-01-04 02:53] #72 closed

[2017-01-08 20:34] Chevy341 opened #74 "Sign in wont work"
I have done everything asked

- Setup API Key to Login Handlers
- Uploaded given files
- Imported .xml file to plugins
AND I get this when we go to sign up
https://gyazo.com/e53a9d91aa0e43b144bc55a5d0f26f2e
Its supposed to look like:
https://gyazo.com/68207690032e8906bc75ccfa718d9ad0

[2017-01-08 23:52] RichusX opened #75 "Getting forwarded to IPB login page"
When I click sign in with steam this is what happens: http://i.cubeupload.com/v64eTm.gif

I assume this is not the correct behaviour, correct?

[2017-01-09 01:43] madman32395 commented on #75
Please contact me on steam, If you want I can jump on and take a poke at it. See whats happening. http://steamcommunity.com/id/madman32395

[2017-01-09 01:48] madman32395 commented on #74
interesting. hit me up on steam. ill take a peak and see what isnt clicking. http://steamcommunity.com/id/madman32395

[2017-01-09 02:17] Chevy341 commented on #74
Added

[2017-01-09 02:38] madman32395 commented on #74
Found it was a theme issue. Ran a theme that was a close as possible to default and steam showed up again.

[2017-01-09 03:09] #74 closed

[2017-01-09 03:34] madman32395 commented on #75
but any red text talking about could not be completed at this time or anything?
using lastest from IPS or Github? (in relation to the plugin)
Uploaded the upload folder correctly?

[2017-01-09 09:20] RichusX commented on #75
No red text or any error message at all. Using latest from GitHub.
Uploaded correctly AFAIK.

Will add you on Steam once I get home.

[2017-01-10 05:33] mhknz commented on #71
I re-installed my Forum Board, hopefully it works now!

[2017-01-24 09:28] DanielHoyland opened #76 "Login Handler Not Showing"
Hello,

I have created a free IPS Community Suite 4 forum (for trial purposes) to test how the forum works with this  plugin.

I have installed the plugin following your guide however the Steam login configuration is not showing under Login Handlers.

Have I done something wrong or is this perhaps a limitation of the trial product?

Any help would be greatly appreciated.

[2017-01-24 17:37] madman32395 commented on #76
The demo will not work with this as it requires some files to be uploaded.
Though, this is compatible with the cloud service as well as self hosted.

When using the cloud, I would recommend having IPS support download from
the GitHub to prevent issues with the marketplace version (MP is currently
out of date)

On Jan 24, 2017 3:28 AM, "DanielHoyland" <notifications@github.com> wrote:

[2017-02-01 10:13] #76 closed

[2017-02-03 13:12] mauvalente commented on #75
Hello!
I'm getting the same problem. No errors in php log.
The problem happens when I enable the ssl login.

Is that a clue?

[2017-02-03 13:30] fabricenl opened #77 "After importing account stuck on complete profile (complete registration)"
Website became impossible to use for newly imported accounts. Once they try to login with it the error shows up that they need to complete their profile to register even tho they already have an account. Obviously they cannot complete it as their e-mail exists in the DB.

Website = https://get-gaming.net
Contact me:

teamspeak: ts.get-gaming.net (The Fabby)

[2017-02-04 05:28] madman32395 commented on #77
![image](https://cloud.githubusercontent.com/assets/2025022/22615970/3e1b1fce-ea68-11e6-893f-378e6866c6f7.png)

This is normal, as the system doesnt have a registered steamid for the user, so signing into steam will check your DB for a steamid, no steam id recorded, it assumes its a new user.
What the user would have to do is cancel registration, then login to their existing account and visit acco

[2017-02-04 05:30] madman32395 commented on #75
@mauvalente enabling SSL shouldnt have affect on this unless the webserver is improperly setup for redirecting; mod_sec; and ive also seen cloudflare mess stuff up when improperly setup.

[2017-02-17 22:59] kanalumaddela commented on #70
I didn't know this was an issue, but it's good to keep track of on our forums. My question is (since I don't want to start another topic). What if there was an efficient way to prevent multiple accounts being created?

Like a user signs up normally with email and password, but then another time tries to login with steam and then creates another account. What if when they try to do that, it checks

[2017-02-17 23:08] kanalumaddela opened #78 "Accounts don't follow IPB "Remove unvalidated members""
Basically if there's an incomplete account (user has signed in with steam, but hasn't provided a username and finished registration), it stays in the admin cp widget that shows validating members. The reason for the account requiring a username is because we have regex on usernames and the use steam name option for the login handler bypasses the regex. I just noticed there was an update today, so

[2017-02-19 01:16] madman32395 commented on #71
@mhknz is this working for you?

[2017-02-19 01:26] madman32395 commented on #78
-Bold (reference) ; no.

-If I remember right this is a byproduct of Login Handlers except for Internal (plain old username/password)

-Don't. Seriously don't. When a user is generated it generates in other spots in the database. The appropriate way to delete a user is through the ACP.

-IIRC IPS broke it, we fixed it.

[2017-02-19 02:54] kanalumaddela commented on #78
We have Google and Twitter login handlers, but since those are rarely used. I have yet to see if the same issue occurs.

It's impossible to delete the user through ACP if they haven't completed their registration. In the ACP Dashboard widget it shows their email, ip they registered on, and when they registered. The only 2 options are Approve & Ban. Searching through the member list using their ema

[2017-02-19 19:55] madman32395 commented on #78
-1. That is because if they didn't finish registration they will not have an email. They will have a username though, and that is searchable via ACP. **But IIRC they _were_ supposed to allow showing all users regardless if they have an email listed or not. Seriously it's the email that's preventing the members module showing all users.** On my personal community I have at least 5 users that have n

[2017-02-20 21:46] kacx9c opened #79 "PHP STRICT Standards not followed"
Whoops \ Exception \ ErrorException (E_USER_ERROR)
IPS\Login\Steam::validate is declared as private. In order to ensure that hooks are able to work freely, please use protected instead. (PHP Coding Standards: Functions and Methods.4)

[2017-02-27 19:08] kacx9c commented on #79
This error was thrown on my development server that throws all errors, E_ALL, including PHP coding standard errors.  Normal web servers will suppress this error but it doesn't negate that the issue should be addressed.  All you have to do is change the method from private to protected and it's resolved.

When developing, you should always have E_ALL turned on to ensure you're not throwing any erro

[2017-03-01 00:01] ADKGamers commented on #75
What type of hosting are you on?  I'm currently testing something that might have fixed this, but am running into another issue so won't have a for sure answer if my solution worked for me.

[2017-03-01 01:01] madman32395 commented on #75
Change your global_conf to https

[2017-03-01 01:11] mauvalente commented on #75
Hello ADKGamers, I'm using NGinx as webservice.  Is there any special config for this ws?

[2017-03-01 20:36] RichusX commented on #75
@ADKGamers I'm running nginx on a VPS (self-hosted).

[2017-03-01 23:06] ADKGamers commented on #75
@RichusX and @mauvalente  - I had a similar issue where it was just redirecting back to the screen like the short clip in the original post.

What fixed that issue was actually making sure that the server time was sync'd properly.  The only reason I found out that was the problem was because I have was having an issue with 2FA, which was caused due to the server time not being sync'd properly.

So

[2017-03-04 22:30] RichusX commented on #75
My server syncs time with NTP pool (uk.pool.ntp.org) so there should be no issue there.

[2017-03-09 05:42] skyprah opened #80 "Error Code: EX0"
When attempting to create an account with steam I get this error
"Sorry, there is a problem
Something went wrong. Please try again.
Error code: EX0"

It used to work fine

[2017-03-09 17:13] madman32395 commented on #80
What is the error associated with that ex0?

[2017-03-15 18:40] Ezaco opened #81 "Not Showing on Login Handlers"
I've uploaded the folders included, and set their directories to 777 permissions.

I've uploaded the Steam_login.xml.

The plugin shows up, but Steam Login is not on the Login Handlers page. There is an entry for it in core_login_handlers in phpMyAdmin, but it's not showing up in the AdminCP. I've even tried deleting the entry in phpMyAdmin and reinserting it as detailed in another issue, but it's

[2017-03-15 19:18] madman32395 commented on #81
@Ezaco are you running a custom theme? Try using the default theme and seeing if the handler button returns.

[2017-03-15 19:21] Ezaco commented on #81
On the Admin panel? It's using the default theme.

[2017-03-15 19:22] madman32395 commented on #81
no on front end.

[2017-03-15 19:45] Ezaco commented on #81
Unfortunately the guy editing my themes used the default theme to change.. but he's only changed CSS values. Can I ask why changing the theme on the front end would determine whether or not the handler appears in the AdminCP?

[2017-03-15 19:46] madman32395 commented on #81
idk just something ive noticed that would cause conflict in the past. (as long as if the login handler appears in DB, and files are uploaded correctly.)

[2017-03-15 19:48] Ezaco commented on #81
Makes sense.

I'm fairly sure I've uploaded the files correctly. I'm using a Linux server but I decompressed the folder then moved the folders to the website root, and changed their permissions to 777. Then I uploaded the XML file.

[2017-03-15 19:49] madman32395 commented on #81
funny question, but did you take the stuff out of the upload folder? or do you have <ipspath>/upload/ ?

[2017-03-15 19:53] Ezaco commented on #81
I didn't have an /upload/ folder but I have an /uploads/ folder which is where I moved the contents of the download to.

[2017-03-15 19:54] madman32395 commented on #81
ok, so you took the contents out of the upload folder when you uploaded? silly question i know. but its happened before lol

[2017-03-15 19:57] Ezaco commented on #81
Yes, I double checked. No upload folder inside my uploads folder ;)

[2017-03-15 19:58] madman32395 commented on #81
hmm. hit me up on [steam](http://steamcommunity.com/id/madman32395). could I take a peak?

[2017-03-16 06:05] #71 closed

[2017-03-16 13:46] Ezaco commented on #81
Followup from yesterday, FTP access is now working.

[2017-03-17 21:28] Memesaremydreams opened #82 "Logging In"
Since the latest update of Invision Power 4.1.19 or whatever it is, other people sometimes get signed in as other people.

[2017-03-17 22:34] madman32395 commented on #82
Hmm. That doesn't sound very good. Message me on steam and I'll take a look
via ACP .

On Mar 17, 2017 16:28, "Memesaremydreams" <notifications@github.com> wrote:

Since the latest update of Invision Power 4.1.19 or whatever it is, other
people sometimes get signed in as other people.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitH

[2017-03-18 23:14] madman32395 commented on #80
@skyprah what is the error associated with the EX0? you can find these out in Support>Support>System Errors

[2017-03-20 02:54] madman32395 commented on #81
Manual uninstall, reinstall, found a few permission errors serverside, applied 4.1.19 post patches (curl and request) tested on both registered link and new user both work on my end, had Ezaco test on their end, works for them.

[2017-03-20 02:54] #81 closed

[2017-03-20 20:33] sejbr commented on #70
@hanman5000 @kanalumaddela
Not sure if you're still interested. But I did some changes on my version to fix those problems. If @madman32395 wishes, I could PR them to the repo. But I'm not sure if the problems I've experienced were somewhat intentional or just on my end.

First I've changed steamid column to unique.
Secondly, since the "cancel" didn't seem to remove the account which would lead to

[2017-03-25 23:37] Bananastreet opened #83 "Says no API Key even though there is."
I keep getting an error stating that there is no API key.

`Exception: steam_err_noapi (0)
#0 C:\xampp\htdocs\forums\applications\steam\extensions\core\MemberSync\Steam.php(131): IPS\steam\_Update->__construct()
#1 [internal function]: IPS\steam\extensions\core\MemberSync\_Steam->onProfileUpdate(Object(IPS\Member), Array)
#2 C:\xampp\htdocs\forums\system\Member\Member.php(3004): call_user_func_arr

[2017-03-25 23:40] madman32395 commented on #83
Double checking is this for the Steam Display app or is this for the Steam Login Plugin?

[2017-04-27 20:12] Terminuscentral commented on #80
Im getting this error, here are the details of the error

Exception: steam_err_noapi (0)
#0 /var/www/html/applications/steam/extensions/core/MemberSync/Steam.php(131): IPS\steam\_Update->__construct()
#1 [internal function]: IPS\steam\extensions\core\MemberSync\_Steam->onProfileUpdate(Object(IPS\Member), Array)
#2 /var/www/html/system/Member/Member.php(3146): call_user_func_array(Array, Array)
#3

[2017-04-27 20:17] Terminuscentral commented on #83
Im getting the same error, the error comes after going to the steam page to log into steam. It comes back to the error. Im using a pc

[2017-04-28 03:48] madman32395 commented on #83
double check redirect scripts, double check file permissions and ownership permissions.

[2017-04-28 03:52] madman32395 commented on #80
@Terminuscentral I would double check file and ownership permissions, redirect scripts. If both dont work, check to see if your server or firewall can ping to "api.steampowered.com"

[2017-04-28 20:03] Terminuscentral commented on #83
steam login plugin only currently

[2017-06-15 00:15] Justinh4x opened #84 "Cannot log in"
So I have the plugin installed but for some odd reason whenever a member attempts to sign in to the forum they are taken back to the sign in page but myself when I attempt to log into my AdminCP I can indeed use Steam Authentication.

Any clues on how I can fix this?

Regards,
-Santos

[2017-06-15 00:18] Justinh4x commented on #84
https://github.com/Lavoaster/IP.Board-Steam-Authentication-Method/issues/75

That is essentially what happens to me, please help. :)

[2017-06-15 00:42] Justinh4x commented on #84
I believe it's related to the board's SSL option to trigger on Logins, maybe I'm wrong. I need help anyways.

[2017-06-15 03:16] Justinh4x commented on #84
I've figured it out, you can't have your site partially in SSL (Like the AdminCP or logins) you need to have your site fully in HTTPS/SSL which can be done easily by editing the board url.

[2017-06-15 03:16] #84 closed

[2017-07-06 14:44] thecarnivore opened #85 "Template/core/global/plugins/steam does not exist"
Hi, trying to install your plugin on our page and this is what we're seeing.  Any suggestions on how to fix it?

![image](https://user-images.githubusercontent.com/29940287/27916748-a2c8dca6-622f-11e7-9784-bedc732dcd8a.png)

[2017-07-06 21:09] madman32395 commented on #85
Have you uploaded the files in the upload folder correctly or at all? Ips
version? PHP version, and is curl enabled?

[2017-07-06 22:54] thecarnivore commented on #85
The files have been uploaded by Invision Customer Support after we uploaded
them and couldn't figure out where to put the Steam API (login method is
gone).  It's an IPS hosted forum site running the latest 4.1 or 4.2,
whichever.  Curl is enabled.  not sure what version of PHP they are running.

On Thu, Jul 6, 2017 at 4:09 PM, Justin Barth <notifications@github.com>
wrote:

[2017-07-06 22:58] madman32395 commented on #85
Ah. Okay, usually they are pretty good at getting you online (file-wise) .
CiC is able to run the steam login.

Have you tried using a default (unmodified/stock) theme? I have seen before
if everything is installed correctly, but the theme will gunk it up.

If not let me know and I can look deeper into this on your installation.

[2017-07-06 23:00] thecarnivore commented on #85
If you could look into it that would be great.  Paid $40 for the theme and
would really like to get it working.  Taman did the theme and said it's not
an issue with the theme itself.

On Thu, Jul 6, 2017 at 5:58 PM, Justin Barth <notifications@github.com>
wrote:

[2017-07-07 04:35] madman32395 commented on #85
What site is this for? And have we tried the default/stock theme?

[2017-07-07 04:37] thecarnivore commented on #85
http://www.tacticalcarnage.org

No, I have not tried the stock theme yet.  Trying that now.

On Thu, Jul 6, 2017 at 11:35 PM, Justin Barth <notifications@github.com>
wrote:

[2017-07-07 04:41] thecarnivore commented on #85
Default Theme still has the same problem.

[image: Inline image 1]

On Thu, Jul 6, 2017 at 11:37 PM, Adam Spencer <mrinevitability@gmail.com>
wrote:

[2017-07-07 04:43] madman32395 commented on #85
hmm. hit me up on steam (madman32395) or discord (madman32395#1736) ; cool if i take a look?

[2017-07-07 05:53] madman32395 commented on #85
Appeared that IPS installed the upload files correctly, there was a steam_login placeholder in the login handlers, went to plugins and noticed it was not installed, downloaded the plugin from github and installed the xml. Entered api key provided by Carnivore, validated steam login works for both front and backend and that it imports display picture. Steam also displays and operates on custom them

[2017-07-07 05:53] #85 closed

[2017-07-07 06:09] #82 closed

[2017-07-07 06:10] #80 closed

[2017-07-07 06:11] #78 closed

[2017-07-07 06:59] thecarnivore commented on #85
Excellent job and very friendly.  I'll be looking for more of your guys' widgets, integrations, and apps.

[2017-07-18 00:45] Fiiily opened #86 "No option in in Login Handlers"
I can't find the place where I would set my apikey under login handlers.
![image](https://user-images.githubusercontent.com/16643747/28295710-4d7a4f9e-6b28-11e7-960a-f36b247da969.png)
![image](https://user-images.githubusercontent.com/16643747/28295728-6d6b8bb0-6b28-11e7-9e5c-a55846c16ab0.png)

[2017-07-18 01:07] madman32395 commented on #86
There should be an option in login handlers for steam (top image) then click the pencil button to edit and add api key.

Make sure upload folder is uploaded properly, and xml file has been installed via plugin install.

[2017-07-18 01:16] Fiiily commented on #86
... what folder @madman32395? I can't exactly upload folders as I use the cloud version of IPS.

[2017-07-18 01:23] madman32395 commented on #86
ah, have you had IPS support do the file upload for you yet?

[2017-07-18 01:24] Fiiily commented on #86
They'll do that? Sweet! Alright, problem solved if they will. Thanks.

[2017-07-18 01:25] madman32395 commented on #86
yea, just tell them the plugin you want installed, they upload the upload folder... then you just install the .xml  (you have to download the plugin from either here or IPS MP).

Once uploaded and you have more issues, just let me know.

[2017-07-18 19:09] Fiiily opened #87 ""Something went wrong. Please try again""
on IPS cloud installation. see my forums @ forums.juicylandgaming.com to see the error.
it sometimes works, it sometimes doesn't. let me know if there are any logs that you need.

[2017-07-18 22:15] madman32395 commented on #87
should have a log printed for it in System Error or Error Logs... and what action is being taken to get this error to occur? logging in? registering? acp login?

[2017-07-18 22:16] madman32395 commented on #86
assuming installed per #87

[2017-07-18 22:16] #86 closed

[2017-07-18 22:42] madman32395 commented on #87
I was able to register with steam just fine without error, logged out and back in without issue as well.

___________
also whats the app you use to prompt steam only login?

[2017-07-20 21:57] Hyrius commented on #87
I'm having the same issue.
Please note that this is using IPB 4.2.0.

[2017-07-25 12:16] Lavoaster commented on #87
At some point this week I'm going to be performing an upgrade to 4.2.0 on a site I help maintain, I'll look into at that time.

[2017-07-26 19:29] Hyrius commented on #87
I just updated my IPB to 4.2.1, and it seems to be working again.
Can you confirm, @Fiiily?

[2017-07-30 11:53] ChrisStark opened #88 "Show steam UID on profile"
Is there an easy way to show the steam UID on the persons profile?

We make it mandatory that everyone logs in using your plugin however the reason is because we want it to automatically show UID on their profile?

[2017-07-30 12:40] Gryphon109 opened #89 "Receiving a template error"
Hi, ever since I installed this I've been receiving a template error I followed the recommended IBP steps too no avail any help is extremely appreciated!
Error: [[Template core/front/global/loginPopup is throwing an error. This theme may be out of date. Run the support tool in the AdminCP to restore the default theme.]]

[2017-07-30 13:20] ChrisStark commented on #88
I have done this if anyone needs it.

[2017-07-30 18:49] madman32395 commented on #89
Does this do this on the default (unmodified theme) ; if you no longer have a unmodified theme, goto the support tool and run it until it makes a fresh one for you.

I am assuming you're running 4.1.x or 4.2.x?

Are you CiC or Self Hosted?

[2017-07-31 12:42] ThatBossGuy commented on #89
I'm running it on 4.1 yes, and it does do it on the unmodified theme, I also followed the support system and refresh the unmodified theme and I still got the error.

[2017-08-02 14:19] MStruntze commented on #87
@Hyrius still seems to be an issue now and then. Fresh install with 4.2.1 and this plugin errors quite a lot (something went wrong) when attempting to register.
No errors seem to be generated in logs.

[2017-08-02 14:20] Hyrius commented on #87
@MStruntze Agreed. I get errors sometimes, too.

[2017-08-06 16:26] K3RRR commented on #88
@ChrisStark I could use this. If you could please contact me on steam at: http://steamcommunity.com/id/kerr/

[2017-08-08 01:46] ChrisStark commented on #88
Here is the release on how to put it on your profile! hope this helps everyone

https://pastebin.com/0QJNm3Tz

[2017-08-10 22:04] Hyrius commented on #87
@Lavoaster Sorry to disturb, but... Any news on this one? :)

[2017-08-25 11:23] good-live commented on #88
@ChrisStark how did you made it mandatory to register with steam?

[2017-08-26 04:14] ChrisStark commented on #88
we dont approve applications unless they are. but you can make it the only
option and therefor will force them to do so.

On Fri, Aug 25, 2017 at 7:23 AM, good-live <notifications@github.com> wrote:

[2017-09-03 17:35] Fiiily commented on #87
@madman32395 Hey, how's it going? I'm sorry for getting back to you late.
The issue is resolved with recent IPS updates and I am using template modifications to lock you into using Steam authentication.

[2017-09-12 14:05] shadowtor opened #90 "[REQUEST] Profile Completion"
IPB now has a profile completion section, would be awesome to see steam added to this
![firefox_2017-09-13_00-04-56](https://user-images.githubusercontent.com/4159051/30330032-493299d4-9817-11e7-926a-8012c46fb0f5.png)

[2017-10-01 15:20] robinkooli commented on #87
Same issue.

[2017-10-03 14:37] seboxxl commented on #87
I've got this error every time

[2017-10-04 09:45] seboxxl opened #91 "Something went wrong. Please try again"
Hi! I got this problem:
Something went wrong. Please try again
everytime I try to login with Steam. My IPB version is 4.2.5.

[2017-10-08 05:54] kacx9c opened #92 "/settings/steam FURL broken"
You're hook is extending \IPS\Http\Url  It needs to extend \IPS\Http\Url\Friendly

furlDefinition isn't a valid method in \IPS\Http\Url, thus your hook isn't doing anything.

Try visiting /settings while IN_DEV, ;)

[2017-10-08 18:44] madman32395 commented on #92
Thanks bud ; 94ec34d

[2017-10-08 18:44] #92 closed

[2017-10-08 18:53] madman32395 commented on #91
Same as #87

[2017-10-08 18:53] #91 closed

[2017-10-08 19:40] #77 closed

[2017-10-08 19:42] madman32395 commented on #51
This issue was reported fixed/verified by Brandon at IPS. IPS Ticket #986751

[2017-10-22 14:37] Phil7789 commented on #87
I can confirm this, no sign-in possible.
The plugin pulls the profile picture from steam but signing in is not possible. There are no error logs written. I cound this as **critical**
IPB 4.2.5

[2017-10-27 01:48] sannysc commented on #87
Also having this issue.

[2017-10-27 02:40] XenosLokios opened #93 "Randomly Sign Up Issues Log Error code: 2S272/1"
1st Install of Steam API Login, the first person to sign up has no issues.
Any person who attempts to sign up after the first person, will receive this message "Sorry, there is a problem
You are not permitted to register a user account with this site.
Error code: 2S272/1".

I tried to reinstall the plugin after not knowing what was going in, the same exact thing happened again.

2nd Install of Ste

[2017-10-28 15:50] #93 closed

[2017-11-02 04:21] Fiiily commented on #87
I don't think IPS Cloud's www server is misconfig'd.

[2017-12-03 02:11] jrod9k1 commented on #87
Having the same issue here. Not super familiar with PHP however through a little editing I've identified it's throwing the exception found here: https://github.com/Lavoaster/IP.Board-Steam-Authentication-Method/blob/master/upload/system/Login/Steam.php#L77

I hope that helps. I'm gonna attempt to fumble my way further through this and hopefully come back with a little more info and maybe even a pu

[2017-12-10 09:01] seboxxl commented on #87
Like others said - it's randomly working (or not). Sometimes I need to try logging 5 times before I log in.
@jrod9k1 the problem is with private function validate(), I guess.

[2017-12-12 14:37] Phil7789 commented on #87
I did some test on the 2FA with the Steam App, perhaps other users could try this too.

I'm using the App with the Code generator and have those said problems randomly as the login is on halt until I enter my 2FA code. A buddy of mine does not use the 2FA and could log in instantly without any problems.

[2017-12-15 03:10] WansonSwanson commented on #87
I seem to be having the same issue on 4.2.6. Logins work at random, sometimes they work the first time, other times it takes 3-4 tries.

[2017-12-16 17:09] Maihym opened #94 "ProfileSyncAbstract Not Found"
I've uploaded all the the files from the upload folder and changed the applications permissions to 770 and the system permissions to 750. I try to go to members and I get this error

Error: Class 'IPS\core\ProfileSync\ProfileSyncAbstract' not found (0)
#0 /home/maihym/www-data/www.chaoticgaming.org/system/Theme/Theme.php(824) : eval()'d code(1592): IPS\_Member->connectedProfileSyncServices()
#1 /h

[2017-12-16 17:56] Maihym commented on #94
I found out I deleted some files that weren't supposed to be deleted

[2017-12-16 17:56] #94 closed

[2018-01-14 11:37] DimitriSES opened #95 "Invalid details"
Installed this addon on the 27th of October last year and had no issues with the addon untill now. Installed the update for IPS CS 4.2.7 and the plugin for Steam doesn't work. When logging in through Steam it displays for everyone the error "Invalid Details". Not sure what is going on.

[2018-01-14 11:38] DimitriSES commented on #95
![afbeelding](https://user-images.githubusercontent.com/8708568/34915477-c1e757ae-f927-11e7-94ce-3a9c22e3b8ed.png)

[2018-01-14 20:34] Justinh4x commented on #95
Same thing here, is this it?

![](https://i.gyazo.com/227698bfb20da4c30605da9ab1cfa1ac.png)

[2018-01-15 07:08] WansonSwanson commented on #87
I was able to solve my issue by disabling force friendly urls in the seo settings. Seems to be an issue with this setting.

[2018-01-30 14:55] Phil7789 commented on #95
I just checked it now and I do not receive this error. Looks like it is a steam problem, isn't it? As it shows on the steam website, not on IPS.

[2018-01-30 16:23] ChrisStark commented on #88
Code was messed up I have updated so it will be correct now!

[2018-01-30 21:33] Jpofin opened #96 "Steam only login methode"
Well someone posted this already but I'm looking for a methode to login only with steam
I disabled the usual register/login methode but I can't find the code for the steam-button.

Does anyone know where I can find it?
I found one in the dev section but it's for the design only, no functions.

Would be nice if someone would help me with that.
I may just be blind so don't judge me please **>.>**

[2018-02-01 00:20] Hawk-HQ commented on #87
I have the exact problem, sometimes it works, sometimes it doesn't. This is a big problem trying to grow a community. Please fix this

[2018-02-06 19:12] IlPicasso opened #97 "403 Forbidden Error on Steam Login"
Suddenly I have been getting this errror on login

![image](https://user-images.githubusercontent.com/5110242/35878844-896d74d0-0b47-11e8-9355-93a941c32620.png)

[2018-02-07 01:18] madman32395 commented on #97
Permission or file ownership error most likely

[2018-02-07 14:45] Jpofin commented on #96
Where do I find the code to implement a working button on another page than this?
Only allow social media stuff and putting social media loginbuttons on the main page instead of the usual login would be good to

[2018-02-14 15:02] milanfon commented on #97
I'm having the same issue. I also thought it would be file permission error, but I've checked that and it's not the issue. Also tried to change the API key or reinstalling the plugin. Neither of these attemps worked.

[2018-02-14 15:07] IlPicasso commented on #97
Checked the access log, the error log and system logs and I dont find anything

[2018-02-16 03:24] Hyrius commented on #95
It was. Globally.

[2018-02-16 03:25] Hyrius commented on #87
@madman32395 Any news?

[2018-03-17 01:13] Lebofly commented on #87
I can confirm that this was solved for me by turning off friendly URLS

[2018-04-06 02:08] #95 closed

[2018-04-06 02:11] madman32395 commented on #87
for giggles, try again after updating against #98  ; another community that I can play with, this seemed to fix "Something went wrong. Please try again".

[2018-04-06 02:12] Lebofly opened #99 "uhhhhhhhhhhhhhhhhhhhh https"
Steam changed from http to https apparently so login no longer works.

[2018-04-06 02:27] madman32395 commented on #96
In its current state IPS requires the Standard login hander to work all the time. But using CSS you can hide other login methods. I would recommend hitting up the theme assistance forums at https://invisioncommunity.com/forums/forum/500-theme-assistance/ someone may have a solution to "hiding" the other login methods that you want to hide.

[2018-04-06 02:27] #96 closed

[2018-04-06 02:28] madman32395 commented on #87
awesome. let us know what happens :)

[2018-04-06 02:34] madman32395 commented on #97
if the files are good but still 403, hit me up on discord: MADMAN32395#1736 ; we can discuss FTP and ACP access, and I could take a peek when I get some time.

[2018-04-06 03:45] Lebofly commented on #87
So far so good, but will have to wait and see because it only occurred occasionally for myself

[2018-04-06 11:43] Jord38 opened #100 "IPS 4.3 Not working"
On login with steam I get this error:
https://i.gyazo.com/218c276964dd0f51550d26d6c10ce098.png

[2018-04-06 11:46] Lavoaster commented on #100
This sounds related to #98.

[2018-04-06 12:03] Lavoaster commented on #100
Can you try this? https://github.com/Lavoaster/IP.Board-Steam-Authentication-Method/archive/2.0.4.zip

[2018-04-06 15:12] Jord38 commented on #100
Uploading a new version didn't fix it so instead I tried reinstalling the plugin, now it's not showing up under login handlers.

[2018-04-07 02:53] Striven90 commented on #100
Issue related to Valve's recent SSL/TLS switch mentioned here: https://www.reddit.com/r/Steam/comments/8a7gsu/steam_openid_broken_for_many_websites_fix_inside/

Edit file system/Login/Steam.php Line 278

from:
`preg_match("#^http://steamcommunity.com/openid/id/([0-9]{17,25})#", urldecode($_GET['openid_claimed_id']), $matches);`

to:
`preg_match("#^https://steamcommunity.com/openid/id/([0-9]{17,25}

[2018-04-07 04:53] madman32395 commented on #100
@Striven90 this should have been implemented in #98

[2018-04-09 05:36] #79 closed

[2018-04-09 22:29] madman32395 commented on #29
4.3 you can disable the main (Standard) login handler, which as long as you don't have other handlers that use the login form, it will hide the user/pass form without needing to do template edits.

(Verified with 4.3 beta 3)

[2018-04-09 22:29] #29 closed

[2018-04-12 05:34] RustSociety opened #102 "Can no longer sync avatar"
Not sure if related to 4.3 or not but when registering through steam it no longer sets their avatar and the option to do so in ACP is no longer there

[2018-04-12 17:53] RustSociety commented on #100
Confirmed, not working on 4.3. You can sign in or register, but the option to sync avatars and link steam to existing accounts no longer exist.

[2018-04-13 06:51] JMan49 commented on #87
Was working fine on IPB 4.2.8. Now getting "Something went wrong. Please try again." Tried upgrading to Sign in through Steam - 2.0.4 still same issue. Even tried uninstalling to no avail. This is a cloud IPS community. Nothing I have tried has fixed this.

[2018-04-13 12:05] madman32395 commented on #87
@JMan49 for a CiC setup have you had ips upload the files in upload folder?

[2018-04-13 12:12] JMan49 commented on #87
@madman32395 Yeah as far as I know they have.

[2018-04-18 18:10] Pydrex commented on #100
Hello,

We're having a fairly urgent issue with this (PAID) version. Updated the Uploads and the XML however still getting the problem where users can't sync there profiles.

We need this as we use it for our app to check someones account before play.

[2018-04-19 09:11] Pydrex commented on #100
Upon further review.

Registering for a forum account using steam works fine, you can go through the whole process fine.
Login with steam works fine using that registered account

/settings/steam
De-Associating the account and re-adding just returns you back to the Sign In with Steam even after login, this does this everytime so this part still seems broken

[2018-04-19 17:33] GeneralMitch opened #103 "IPS 4.3 Login error"
This prob was posted before, but just in case my error is different, when trying to login  Im getting this error  (from my system logs)

`Error: Access to undeclared static property: IPS\Login\Handler\Standard::$icon (0)
#0 /var/www/html/x279447/system/Theme/SandboxedTemplate.php(56): IPS\Theme\class_core_front_system->settings('overview', '\n<div class='ip...', true, true, -1, false, Array, false

[2018-04-20 06:11] ellisonpatterson opened #104 "Login Error"
[code]

[2018-04-23 13:08] MynDoS opened #105 "Something went wrong. Please try again. - registration"
Hello,
I have a big problem with registration for steam.
When I want to create account on forum with steam, show me this error: Something went wrong. Please try again.

I login and "Sign in" on steam, but when i move to my forum, i have this error

[2018-04-23 13:30] #105 closed

[2018-04-29 19:41] giovaniferrarotrivelli commented on #100
Confirmed. Still doesn't work.

[2018-04-30 23:45] Hawk-HQ opened #106 "1S111/1 Error"
When trying to install for first time on IPS 4.3.1 I receive this error each time.

Along with this....

Table 'hqwebsite_forums.core_login_handlers' doesn't exist

[2018-04-30 23:48] madman32395 commented on #100
Pydrex, what are you paying for? Steam login is free.

[2018-05-01 11:55] namopsx opened #107 "Login Handlers"
im upload the contents of the upload folder to my forum root directory

install plugin in ACP

its no show in Login Handlers

[2018-05-02 17:37] kuplion commented on #107
Having the same issue here, 2.0.4 freshly installed but not showing up in login handlers.

[2018-05-06 09:29] mkassjanski commented on #107
Same here

[2018-05-06 12:53] Osaxi commented on #107
I'm also having the same issue.

[2018-05-09 04:39] Stranger200 opened #108 "Missing the steam profile settings page."
You cannot link or resync steam to your account as the steam page is completely missing for the user.

[2018-05-11 10:13] K3RRR commented on #51
This issue still persists where users aren't redirected to the page they were on when signing in.

[2018-05-14 17:13] madman32395 commented on #104
4.3 changed the way ProfileSync is handled.

[2018-05-14 17:13] madman32395 commented on #104
#102 ; profile sync

[2018-05-14 17:14] madman32395 commented on #102
related to linked above.

[2018-05-14 17:14] #102 closed

[2018-05-14 19:18] Hawk-HQ commented on #106
Any ETA?

[2018-05-15 01:54] james-munson opened #109 "No login handler"
Table 'forums.core_login_handlers' doesn't exist

looks like the new table is core_login_methods

[2018-05-15 02:04] madman32395 commented on #109
#108

[2018-05-15 02:04] #109 closed

[2018-05-16 23:46] aStonedPenguin opened #110 "core_login_handlers does not exist in 4.3"
On a fresh install it appears it was changed to `core_login_methods` with a slightly different structure.

[2018-05-25 01:26] madman32395 commented on #110
I've been saying that in the issues where he references... It's not a 4.3 update he's doing, it's just a haxy fix for existing clients. Doesn't fix it for new installations.

[2018-05-25 01:55] Exonical commented on #110
Yeah, I found it doesn't work on new installs because it doesn't create the Row needed in MySQL for it. I managed to get it working for registrations by adding the MySQL Field manually, doesn't show up on users profile though

[2018-06-01 17:08] northernmonkey98 opened #112 "Login handles for IPB 4.3"
Please add in support for IP.Board 4.3.
Quite alot of people use IPB 4.3, would be neat.

[2018-06-02 15:37] kacx9c commented on #112
An app exists in the IPS MP with 4.3 compatibility.

[2018-06-02 15:41] kacx9c commented on #110
An app exists in the IPS MP with 4.3 compatibility

[2018-06-02 21:09] Lavoaster commented on #87
As I'll be working on this soon for the 4.3 upgrade, did anyone actually come up with a reproducible way to produce this?

[2018-06-02 23:46] madman32395 commented on #112
not valid

[2018-06-02 23:46] #112 closed

[2018-06-03 18:41] #110 closed

[2018-06-04 11:18] Lebofly commented on #107
I'm still having this issue

[2018-06-04 11:44] namopsx commented on #107
Me 2, Steam Login it does not show up in ACP Login Handlers,

[2018-06-04 11:46] Lavoaster commented on #107
IPB 4.3 update is in the works.

[2018-06-05 16:49] Lavoaster commented on #107
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

[2018-06-05 16:54] Lavoaster commented on #87
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

The update will either resolve your issue, or make it more obvious what the error is now as I've all errors that I throw in the login method much more verbose, and less generic. E.G Unable to connect to Steam, Unable to va

[2018-06-05 17:02] Lavoaster commented on #106
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

[2018-06-05 17:02] #106 closed

[2018-06-05 17:03] Lavoaster commented on #104
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

[2018-06-05 17:03] #104 closed

[2018-06-05 17:03] Lavoaster commented on #108
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

[2018-06-05 17:03] #108 closed

[2018-06-05 17:04] Lavoaster commented on #100
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

[2018-06-05 17:04] #100 closed

[2018-06-05 17:04] Lavoaster commented on #51
This would have been fixed in the 4.3 update.

[2018-06-05 17:04] #51 closed

[2018-06-05 17:05] #97 closed

[2018-06-05 17:06] #83 closed

[2018-06-05 17:28] #88 closed

[2018-06-05 17:28] #89 closed

[2018-06-05 17:29] #69 closed

[2018-06-05 17:30] #75 closed

[2018-06-05 17:30] Lavoaster commented on #70
This was resolved in the update made to support 4.3.

[2018-06-05 17:30] #70 closed

[2018-06-05 17:31] Lavoaster commented on #103
Please download [this](https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/download/v3.0.0/steamlogin-3.0.0.zip) and follow the instructions in the readme for upgrading.

[2018-06-05 17:31] #103 closed

[2018-06-05 17:32] #107 closed

[2018-06-05 19:21] TheGamingChief opened #113 "IP Board 4.3.3 Update | Invalid Steam ID being provided"
So after a fresh install of IP Board 4.3.3 and installing the application (following the provided directions) it seems as every-time someone tries to login with Steam it spits out "2147483647" as the player ID for some odd reason.

I've haven't found any error logs, however I'm still searching. Just wanted to check if this is a known issue with this new release.

[2018-06-05 19:22] Lavoaster commented on #113
Is this using the version I posted on GitHub today?

[2018-06-05 19:27] Lavoaster commented on #113
I only released it ~3 hours ago. Are you sure it's this one? https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/tag/v3.0.0

[2018-06-05 19:49] TheGamingChief commented on #113
Sorry about the late reply I had to look into that. I downloaded the version from the main from page of this repo (https://prnt.sc/jra6ck). I didn't realize that was not the newest version. I went ahead and completely removed that version, and installed the version you linked and I'm still having the same issue.

I've left all the login with Steam settings default (other than the API key ofc) and

[2018-06-05 19:56] Lavoaster commented on #113
Are you running on a 32bit or 64bit server?

[2018-06-05 20:00] TheGamingChief commented on #113
We are running on Windows Server 2012 R2 with IIS, I know you said IIS can cause some issues, however do you think that could be causing the issue.

[2018-06-05 20:07] Lavoaster commented on #113
To be honest, I don't think IIS is an issue anymore, but it will be an issue if your system is 32bit the Steam ID such as mine `76561198010571702` caused an integer overflow and PHP decided to use the maximum 32bit signed integer value, which is `2147483647`.

I'm going to push something up very soon that removes that type conversion, because it really don't need to be there.

[2018-06-05 20:16] #113 closed

[2018-06-05 20:16] Lavoaster commented on #113
Alright, can you try downloading https://github.com/Lavoaster/IPS-SteamLoginMethod/releases/tag/v3.0.0 again?

[2018-06-05 20:36] Lavoaster commented on #90
Part of this is actually done by the IPS 4.3 update. Albeit it won't add a visible field for the users steam page.

![](http://share.adamlav.in/s48b/Screen%20Shot%202018-06-05%20at%2021.33.24.png)
![](http://share.adamlav.in/s5Kz/Screen%20Shot%202018-06-05%20at%2021.34.50.png)

[2018-06-05 20:49] TheGamingChief commented on #113
Yeah that last update fixed the issue. Thanks for the help! Cheers m8

[2018-06-05 20:51] Lavoaster commented on #113
Awesome. By chance, were you a new install or an upgrade from the 4.2 plugin?

[2018-06-05 22:17] TheGamingChief commented on #113
New install.

[2018-06-05 22:40] #90 closed

[2018-06-06 00:40] Lebofly opened #114 "Prompting me to create a new account"
https://i.imgur.com/fg2z89i.png

Not sure if I've done something incorrectly but it's not recognizing the old steam accounts rather making new ones

[2018-06-06 00:41] Lavoaster commented on #114
Check the ACP there should be a background task for migrating login data.
On Wed, 6 Jun 2018 at 01:40, Lebofly <notifications@github.com> wrote:

[2018-06-06 04:15] Lebofly commented on #114
Can't seem to find that, I also forced the queue to run

[2018-06-07 16:38] QUT-Michael-L commented on #114
Yeah even with the background task it still ignores the already defined user. If you look at the core_members table, it just creates another user with the same steamid.

[2018-06-07 16:40] LavaToaster commented on #114
@MikeyMatou Is it still running, or had it finished? It's plausible that would happen before a member has been migrated to the 4.3 style of login links.

[2018-06-07 17:27] QUT-Michael-L commented on #114
Wait to confirm, are you referring to the profilesync task under the Tasks section?

[2018-06-08 05:40] Lebofly commented on #114
regardless all tasks have been run since I installed it, like Mikey said it's merely creating a new users with the same SteamID

[2018-06-10 04:23] QUT-Michael-L commented on #114
Just an uh...quick bump. If you have any ideas it would help, because no user can login, only re-create an account with the exact same data.

[2018-06-10 19:46] jrod9k1 commented on #87
@Lavoaster

Just tested the latest version per the instructions on readme.md. Working fantastic! I did notice one minor issue that I inadvertently caused:

After I installed the plugin I ended up deleting and re-adding the steam login handler for circumstantial reasons. That seemed to iterate the "login_id" of the handler from 10 to 11 under "core_login_methods". After doing so the "token_login_me

[2018-06-10 19:55] itsAliAvali commented on #87
If the linked auths are still there but references the uninstalled handler
you may have to run a manual query to change them from 10 to 11 (or what
ever number the steam login is) , so they can login normally.

[2018-06-10 20:03] jrod9k1 commented on #87
@madman32395 Yeah I've already updated the links to the new handler, that wasn't an issue. Was more just noting that I caused the problem to begin with as other people using the plugin may not be technically apt enough to fix it on their own.

[2018-06-10 23:18] jrod9k1 commented on #114
Just ran into a similar issue myself after upgrading. Go to your "core_login_methods" table. Find the method for steam logins and get the "login_id", in my case it was "11". Note that ID down and go to your "core_login_links" and for each user there will be a "token_login_method" column with an ID that should match your "login_id" for the steam method. If it does not like in my case you will need

[2018-06-10 23:44] itsAliAvali commented on #114
Depending on everyones setup that number will averagely be different.

[2018-06-11 08:00] QUT-Michael-L commented on #114
Unfortunately, that did not fix it, but I've realised the table has been wiped, so that pretty much sums up the issue. Thanks.

[2018-06-14 02:53] ImStayFrosty opened #115 ""Your Steam account is already associated with another member.""
People can no longer sign-in with steam after I updated to the application instead of the plugin. I followed all the steps and deleted the files it said to but nobody can use steam to login as it tries to make another account.

[2018-06-14 02:53] itsAliAvali commented on #115
How recently did you upgrade?

[2018-06-14 02:54] ImStayFrosty commented on #115
Within the last hour, I have run all background tasks as well.

[2018-06-14 18:13] ImStayFrosty commented on #115
![image](https://user-images.githubusercontent.com/10207200/41430080-139617a8-6fdd-11e8-8835-b077e44d818e.png)

[2018-06-15 01:50] ImStayFrosty commented on #115
INSERT INTO `core_login_links` ( `token_login_method`, `token_member`, `token_identifier`, `token_linked` ) VALUES ( 10, 2, '76561198122638261', 1 ), ( 10, 5, '76561198103239748', 1 ), ( 10, 6, '76561198197612587', 1 ), ( 10, 12, '76561198009784986', 1 ), ( 10, 13, '76561198065124435', 1 ), ( 10, 14, '76561198124059936', 1 ), ( 10, 15, '76561198240230526', 1 ), ( 10, 16, '76561198152183314', 1 ),

[2018-06-18 15:23] WeirdPhrog opened #116 "How to fix steam login 2.0.4 manually without upgrading to IPS 4.2-4.3?"
I have IPS v4.1.19.4 but I don't have time to fix all styles and plugins with upgrading to 4.2 and above. How to fix steam login 2.0.4 manually without upgrading to 3.0.0, which requires IPS 4.2-4.3?

[2018-06-18 15:39] WeirdPhrog commented on #116
I put this:

	/**
	 * Get title
	 *
	 * @return	string
	 */
	public static function getTitle()
	{
		return 'Steam';
	}

And now everything is fine. Is it okay?

[2018-06-18 17:11] itsAliAvali commented on #116
I'm gonna be straight up. You have time to potentially figure this out...
But not time to update your board to get the proper update for your steam
login... Just because you "don't" have the time to update styles...

[2018-06-18 17:12] #116 closed, assigned to nobody

[2018-06-20 02:14] PRAWKC commented on #115
Getting the same issue as you, I changed the token_login_method because or else if someone was already connected with steam then when they log in it would create a new account that was bugged. I also have the exact same issue in my admincp "Migrating Steam User Login Data" Anyone find a fix for this?

Edit: Issue has been resolved

[2018-06-23 03:22] ImStayFrosty commented on #115
Yeah, I never got a response either. Guess I have to disable steam login now.

[2018-06-23 06:47] itsAliAvali commented on #115
with this being a dedicated application now instead of a plugin, have any of you guys removed the old plugin and accompanying files?

[2018-06-23 06:48] itsAliAvali commented on #115
during migration it should have picked up on duplicates.... right? @Lavoaster ?

[2018-06-23 06:52] ImStayFrosty commented on #115
Once the plugins list the steam with plugin has disappeared, I assumed it deleted it by itself. I cannot find any trace of the plugin anywhere. I even deleted the files was supposed to delete like it said in the readme.md

[2018-06-23 06:53] ImStayFrosty commented on #115
* On the plugins list the steam auth plugin has disappeared

Apologies as I typed this msg on my iPhone in the middle of the night.

[2018-06-26 23:49] ImStayFrosty commented on #115
Still no solution.

[2018-06-27 00:00] LavaToaster commented on #115
@madman32395 Yes, it is supposed to be picked up now. I don't have the time to create and test query for this but it should be possible to run something like

[code]

and clear out any with duplicates.

[code]

Follow it up by clearing out the `core_login_links` (this might not be the right name) table where the login method id matches the steam one and then do something like

[code]

I don't know

[2018-06-27 00:29] ImStayFrosty commented on #115
Is there any way of completely removing everything created by steam auth. I would just rather restart than trying to migrate the data. Too many people have created duplicate accounts and such I would rather just let people re-link their accounts if possible @Lavoaster.

[2018-07-29 05:23] peter-r-g commented on #115
Is there a fix for this? I just upgraded and now it's broken for me. It's quite important for the data to be migrated since almost everyone has signed up with steam

[2018-08-02 02:59] peter-r-g opened #117 "Can't manually run the steam user migration"
When I go to migrate the steam user login data I get an error about duplicate entries (1S111/1 Duplicate entry '9-76561198063494192' for key 'token_identifier') and it won't migrate the data. How can I fix this? A lot of our forum accounts were signed up through this login method and now that the data can't migrate most of our users have lost their accounts. I really need a fix for this soon as th

[2018-08-02 20:39] narapon commented on #115
The manual SQL statements work

Before clearing out core_login_links, take note of the existing token_login_method number for steam

edit. backup before trying of course! 😃

[2018-09-05 02:07] Lebofly commented on #117
I have the same issue, it's halting my tasks

[2018-10-28 14:42] WildMano2 opened #118 "IPS Community Suite 4.2.x"
Using 2.0.4 version of plugin for IPSCS4.2.6, custom dedicated server with curl isntalled but once i try to setup login handler it says that:

login_handler_steam has rejected the details. Please check the details and give correct, and try again.

Key is valid working with other app, all files was uploaded correctly.

[2019-02-23 11:46] EmpireKicking opened #119 "Support Version 4.4"
Wondering if it be updated and supported for 4.4?

[2019-03-17 12:45] MatinHQ opened #120 "Steam Authorization Problem"
Hello, when my users are trying to log in with Steam it's going to say:

does anyone know how can I solve that?

[2019-04-29 13:23] emoyly commented on #120
Hello mister.
I have found a somewhat decent solution to the problem. It's not pretty or smart, but it does the job.
If you insert the following code into the [Steam.php file after line 27](https://github.com/Lavoaster/IPS-SteamLoginMethod/blob/master/steamlogin/sources/Login/Steam.php#L27)
In your install the file should be located inside `YOURFORUMINSTALL/applications/steamlogin/sources/Login/St

[2019-06-20 03:45] KingHighwind commented on #120
I have the same error and I have tried your fix but it does not work for me :*(

[2019-06-20 03:48] KingHighwind opened #121 "Unable to validate Steam OpenID request."
![image](https://user-images.githubusercontent.com/52022070/59817052-0011d400-933c-11e9-885f-ad1880cf06f4.png)

I keep getting this issue when I try to login with the steam login, the website is hosted on GoDaddy and has an ssl certificate and is set to https on global_conf.php.

I don't know why this keeps happening.

[2019-06-20 05:00] itsAliAvali commented on #120
this app as well as other ones on the IPS marketplace have this issue.
Valve just has issues validating tokens on their end... so valve time until
they fix it basically.

Only fix for your site(s) is just keep trying until Valve token slides
through eventually.

On Wed, Jun 19, 2019 at 10:45 PM KingHighwind <notifications@github.com>
wrote:

--
-Justin Barth

[2020-01-11 17:06] WeirdPhrog commented on #97
Same error, please help

[2020-06-26 10:54] Mentor3333 commented on #121
Have the same problem, but my friend doesnt have any problem.

[2020-08-28 16:10] Infamous-Nathan opened #122 "Too many redirects error when trying to sign up with Steam on my website"
Hello,

I have the Steam login method plugin installed and setup on my website, but I'm encountering a strange issue where after you go through the sign up with Steam process and choose your Steam account and press sign in, for some reason it will load for a short amount of time and then you will get the too many redirects error appear on your screen, and I'm not sure what's causing this. I do hav

[2020-08-31 14:57] MarsMoon81 commented on #122
Which version of IPS are you running ?

[2021-01-03 00:21] BradleyJones329 opened #123 "unable to import steam logins"
i was wondering if there was a way to import and export steam logins by using the invision community importing thing or if there is something special i have to do or if i have to manually import it through the database

[2021-01-28 12:02] Nerus87 opened #124 "[Issue]Activate account automatically"
Hey, I have a problem with this plugin.

[Story]
After the user registers - the first login and providing some information like email address and accept the rules, an administrator is forced to approve the user manually. But I think there no sense because the user is authorized from the steam.

[Solution]
So maybe the correct way will be to add the switch to the plugin settings with the default op

[2021-08-05 16:43] gabrielt opened #125 "Error message with 4.6"
Getting the following error when trying to link an IPS account to a Steam account:

`Error: Call to undefined method IPS\Http\Url\Friendly::getFurlQuery() (0)
#0 [redacted]/system/Login/Login.php(339): IPS\steam\Login\_Steam->authenticateButton()
#1 [redacted]/applications/core/modules/front/system/settings.php(1462): IPS\_Login->authenticate()
#2 [redacted]/applications/core/modules/front/system/

[2022-05-18 12:03] Davinel17 commented on #125
same error